[Unit]

Description = <CLASS> Control Deamon
# Wants = network-online.target
After = network-online.target <AFTER>

StartLimitInterval = 200
StartLimitBurst = 5

[Service]

Type = forking
ExecStart = <BINDEST>/<TARGET>
Restart = always
RestartSec = 30

[Install]

WantedBy = multi-user.target
