[Unit]

Description = W1 to MQTT service
After = network.target
StartLimitInterval = 200
StartLimitBurst = 5

[Service]
EnvironmentFile=-/etc/default/w1mqtt
Type = forking
ExecStart = <BINDEST>/w1mqtt $W1MQTT_OPTS
Restart = always
RestartSec = 30

[Install]

WantedBy = multi-user.target
