# Make.config
#
# See the README file for copyright information and how to reach the author.
#
#

TARGET      = p4d
CMDTARGET   = p4
CHARTTARGET = dbchart
CLASS       = P4d
W1TARGET    = w1mqtt
# NAME: used for DB (name, user-name and password)
NAME        = p4

# user defined stuff

PREFIX        = /usr/local
BINDEST       = $(DESTDIR)$(PREFIX)/bin
_BINDEST      = $(PREFIX)/bin
CONFDEST      = $(DESTDIR)/etc/$(TARGET)

WEBDEST       = $(DESTDIR)/var/lib/$(TARGET)

SYSTEMDDEST   = $(DESTDIR)/etc/systemd/system
# TEST_MODE     = yes
AVR_DEVICE    = /dev/ttyS0

DEBUG = 1
# USE_CLANG = 1

# -----------------------
# don't touch below ;)

ifneq (,$(wildcard /usr/lib/libwiringPi.so))
  WIRINGPI = yes
endif

ifdef USE_CLANG
  CPP = clang++
else
  CPP = g++
endif

doCompile  = $(CPP) -c $(CFLAGS) $(DEFINES)
doLink     = $(CPP) $(LFLAGS)
doLib      = ar -rs

PLGSRCDIR  = ./PLUGINS
TMPDIR     = $(DESTDIR)/tmp

USELIBXML = 1
#USECURL   = 1
#USEJPEG   = 1

USES = -DUSEUUID -DUSEMD5 -DUSELIBXML -DUSELIBARCHIVE -DUSEJSON -DUSEGUNZIP -DUSEDB
DEFINES += -D_GNU_SOURCE -DTARGET='"$(TARGET)"' -DCLASS='$(CLASS)' -DLOG_PREFIX='""' $(USES)
DEFINES += -DBIN_PATH='"$(_BINDEST)"'

ifeq ($(shell pkg-config --exists python3-embed && echo 1),1)
  CFLAGS += $(shell pkg-config --cflags python3-embed)
  LIBS += $(shell pkg-config --libs python3-embed)
else
  CFLAGS += $(shell pkg-config --cflags python3)
  LIBS += $(shell pkg-config --libs python3)
endif

ifdef USELIBXML
  CFLAGS += $(shell xml2-config --cflags)
  LIBS += $(shell xml2-config --libs)
endif

# LIBS += $(shell pkg-config --libs libwebsockets)
LIBS += $(shell pkg-config --libs-only-L libwebsockets)
LIBS += -l:libwebsockets.a
LIBS += $(shell pkg-config --cflags --libs jansson)
LIBS += -lssl -lz

ifdef DEBUG
  CFLAGS += -ggdb -O0
endif

CFLAGS += -pthread -fPIC -std=c++17 -Wall -Wreturn-type -Wformat -pedantic -Wunused-variable -Wunused-label \
          -Wunused-value -Wunused-function -Wno-long-long -Wno-unused-parameter \
          -D_LARGEFILE_SOURCE -D_FILE_OFFSET_BITS=64 -D_LARGEFILE64_SOURCE

ifdef USE_CLANG
  CFLAGS += -x c++
else
  CFLAGS += -Wno-psabi
endif

%.o: %.c
	$(doCompile) -o $@ $<
