# Make.config
#
# See the README file for copyright information and how to reach the author.
#

-include Make.user

TARGET      = p4d
CLASS       = P4d
# NAME: used for DB (name, user and password)
NAME        = p4

CMDTARGET   = p4
CHARTTARGET = dbchart
W1TARGET    = w1mqtt

PREFIX        = /usr/local
BINDEST       = $(DESTDIR)$(PREFIX)/bin
_BINDEST      = $(PREFIX)/bin
CONFDEST      = $(DESTDIR)/etc/$(TARGET)

WEBDEST       = $(DESTDIR)/var/lib/$(TARGET)

SYSTEMDDEST   = $(DESTDIR)/etc/systemd/system
AVR_DEVICE    = /dev/ttyS0

DEBUG = 1
# USE_CLANG = 1

# -------------------
# internals

SQLCFG = mariadb_config

ifdef MYSQL
  SQLCFG = mysql_config
endif

ifdef USE_CLANG
  CPP = clang++
else
  CPP = g++
endif

doCompile  = $(CPP) -c $(CFLAGS) $(DEFINES)
doLink     = $(CPP) $(LFLAGS)
doLib      = ar -rs

PLGSRCDIR  = ./PLUGINS
TMPDIR     = $(DESTDIR)/tmp

#USELIBXML = 1
#USECURL   = 1
#USEJPEG   = 1

USES = -DUSEUUID -DUSEMD5 -DUSELIBARCHIVE -DUSEJSON -DUSEGUNZIP -DUSEDB
DEFINES += -D_GNU_SOURCE -DTARGET='"$(TARGET)"' -DCLASS='$(CLASS)' -DNAME='"$(NAME)"' -DLOG_PREFIX='""' $(USES)
DEFINES += -DBIN_PATH='"$(_BINDEST)"'

ifdef POOL
  DEFINES += -D_POOL
endif

ifdef WOMO
  DEFINES += -D_WOMO
endif

ifdef NO_RASPBERRY_PI
  DEFINES += -D_NO_RASPBERRY_PI_
endif

# WIRINGPI ?= no

ifneq (,$(wildcard /usr/lib/libwiringPi.so))
  WIRINGPI ?= yes
endif

ifeq ($(WIRINGPI),yes)
  LIBS += -lwiringPi
else
  DEFINES += -D_NO_RASPBERRY_PI_
endif

ifdef USELIBXML
  CFLAGS += $(shell xml2-config --cflags)
  LIBS += $(shell xml2-config --libs)
endif

LIBS += $(shell pkg-config --libs libwebsockets | sed -e 's/ -lwebsockets/ -l:libwebsockets.a/g')
LIBS += $(shell pkg-config --cflags --libs jansson)
LIBS += -lssl -lz -lcap

ifdef DEBUG
  CFLAGS += -ggdb -O0
endif

CFLAGS += -pthread -fPIC -std=c++17 -Wall -Wreturn-type -Wformat -pedantic -Wunused-variable -Wunused-label \
          -Wunused-value -Wunused-function -Wno-long-long -Wno-unused-parameter \
          -D_LARGEFILE_SOURCE -D_FILE_OFFSET_BITS=64 -D_LARGEFILE64_SOURCE

ifdef USE_CLANG
  CFLAGS += -x c++
else
  CFLAGS += -Wno-psabi
endif

%.o: %.c
	$(doCompile) -o $@ $<
