# Make.config
#
# See the README file for copyright information and how to reach the author.
#
#

# user defined stuff

PREFIX        = /usr/local
BINDEST       = $(DESTDIR)$(PREFIX)/bin
_BINDEST      = $(PREFIX)/bin
CONFDEST      = $(DESTDIR)/etc/p4d

WEBDEST       = $(DESTDIR)/var/lib/p4
PCHARTDEST    = $(DESTDIR)/var/lib/pChart2.0
_PCHARTDEST   = /var/lib/pChart2.0
WEBOWNER      = www-data

SYSTEMDDEST   = $(DESTDIR)/etc/systemd/system
# TEST_MODE     = yes

# select your init system { none, sysV, systemd }

INIT_SYSTEM   = systemd
#INIT_AFTER   = mysql.service

DEBUG = 1
# USE_CLANG = 1

# -----------------------
# don't touch below ;)

ifdef USE_CLANG
  CPP = clang++
else
  CPP = g++
endif

doCompile  = $(CPP) -c $(CFLAGS) $(DEFINES)
doLink     = $(CPP) $(LFLAGS)
doLib      = ar -rs

PLGSRCDIR  = ./PLUGINS
TMPDIR     = $(DESTDIR)/tmp

USELIBXML = 1
#USECURL   = 1
#USEJPEG   = 1

USES = -DUSEUUID -DUSEMD5 -DUSELIBXML -DUSELIBARCHIVE -DUSEJSON -DUSEGUNZIP -DUSEDB
DEFINES += -D_GNU_SOURCE -DTARGET='"$(TARGET)"' -DLOG_PREFIX='""' $(USES)
DEFINES += -DBIN_PATH='"$(_BINDEST)"'

ifdef USELIBXML
  CFLAGS += $(shell xml2-config --cflags)
  LIBS += $(shell xml2-config --libs)
endif

LIBS += $(shell pkg-config --libs libwebsockets)
LIBS += $(shell pkg-config --cflags --libs jansson)
LIBS += -lz

ifdef DEBUG
  CFLAGS += -ggdb -O0
endif

CFLAGS += -pthread -fPIC -std=c++17 -Wall -Wreturn-type -Wformat -pedantic -Wunused-variable -Wunused-label \
          -Wunused-value -Wunused-function -Wno-long-long -Wno-unused-parameter \
          -D_LARGEFILE_SOURCE -D_FILE_OFFSET_BITS=64 -D_LARGEFILE64_SOURCE

ifdef USE_CLANG
  CFLAGS += -x c++
else
  CFLAGS += -Wno-psabi
endif

%.o: %.c
	$(doCompile) -o $@ $<
