
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* .body-background:after
{
    background: transparent url(/img/backgrounds/background.jpg) no-repeat 50% 0 fixed;
    background-size: cover;
    content: "";
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
} */

.ui-autocomplete
{
  height: 120px;
  overflow-y: auto;
}

.slider
{
    display: none;
    height: 20x;
    padding: 15px;
    width: 50%;
    margin: 0px;
    position: absolute;
    vertical-align: middle;
    top: 50%;
    left: 25%;
    background-color: #272727d9;
}

.lightColor
{
    max-width: 340px;
    width: 100%;
    box-sizing: border-box;
}

.lightColorDiv
{
    position: fixed;
    z-index: 1;
    left: 45%;
    top: 40%;
    width: fit-content;
    text-align: center;
    background-color: #bbbbbb;
    padding-bottom: 8px;
}

.menu
{
    display: grid;
    margin-left: 5px;
    margin-right: 5px;
    background-color: var(--menu);
    padding: 3px;
}

.infoBox
{
    background-color: var(--info);
    color: black;
    padding: 5px;
    width: fit-content;
    opacity: 0;
    position: fixed;
    margin: 5px;
    top: -20rem;
    left: -20rem;
    transition-property: all;
    transition-duration: 1.5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.infoBox-active
{
    opacity: 1;
    top: 0.5rem;
    left: 0.5rem;
}

.menuLogin
{
    float: right;
    width: 42px;
    padding: 4px 4px !important;
}

.menuLogin > div {
    height: 2px;
    margin: 4px;
    background-color: white;
}

.vdrContent
{
    margin: 0px 5px 0px 5px;
    /*background-color: var(--background); */
}

.rounded-border
{
    border-radius: var(--borderRadius);
    border-color: var(--borderColor);
    border-style: none;
    border-width: 1px;
}

.border-underline
{
    border-style: none;
    border-radius: 0;
    border-color: white;
    border-width: 1px;
    border-bottom-style: solid;
}

.hidden
{
    width: 0px !important;
    height: 0px !important;
    visibility: hidden !important;
    display: none !important;
}

.progress {
  border: 5px solid white;
  border-radius: 50%;
  border-top: 5px solid var(--blue);
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {   /* Safari */
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {  /* Safari */
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.progress-small {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid var(--blue);
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.progress-smaller {
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid var(--blue);
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.button1
{
    background-color: var(--caption1);
    color: var(--buttonFont);
    margin: 5px 1px 5px 1px;
    display: inline-block;
    padding: 6px 6px;
    text-decoration: none;
    box-shadow: 1px 1px 5px 1px var(--shadow);
    margin-left: 5px;
}

.button1:hover
{
    background-color: var(--caption2);
}

.button2
{
    background-color: var(--caption2);
    color: var(--buttonFont);
    padding: 3px 10px;
    text-decoration: none;
    box-shadow: 1px 1px 5px 1px var(--shadow);
}

.button2:hover
{
    background-color: var(--caption1);
}

.buttonOptions
{
    display: inline;
    min-width: 76px;
    padding: 4px;
    margin: 2px;
    color: white;
    height: 28px;
    background-color: slategray;
    text-decoration: none;
    box-shadow: 1px 1px 5px 1px var(--shadow);
}

.buttonOptions:hover
{
    background-color: darkslategray;
}

.menuDashboard
{
    background-color: var(--dashboardMenuBackground);
    width: 99%;
    margin: 7px;
    display: inline-block;
}

.buttonDashboard
{
    display: inline;
    margin: 5px 0px 5px 4px;
    color: white;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
    font-size: x-large;
}

.buttonDashboard:hover
{
/*    border-bottom-color: lightgray;
    border-bottom-style: solid;
    border-bottom-width: 2px; */
}

.buttonDashboardActive
{
    border-radius: 0;
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.buttonDashboardTool
{
    display: inline;
    margin: 5px 5px 5px 2px;
    color: orange;
    background-color: transparent;
    height: 28px;
    text-decoration: none;
    cursor: pointer;
}

.buttonDashboardTool:hover
{
    background-color: darkslategray;
}

.buttonHighlighted
{
    background-color: darkblue;
    color: var(--buttonFont);
    width: 300px;
    height: 40px;
    margin: 8px;
    box-shadow: 1px 1px 5px 1px var(--shadow);
}

.seperatorFold
{
    background-color: darkslategray;
    color: var(--light2);
    padding: 5px 15px;
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 4px;
    cursor: pointer;
}

.tableImage
{
    width: 80%;
    margin: 10%;
}

/* ----------------------- */
/* Input */

.input
{
    background-color: var(--edit);
    color: black;
/*    background-color: transparent;
    color: white; */

    margin-top: 2px;
    padding: 3px;
}

.inputTime
{
    background-color: var(--edit);
    color: black;

    margin-top: 2px;
    padding: 3px;
    width: 45px;
}

.inputNum
{
    background-color: var(--edit);
    color: black;

    margin-top: 2px;
    padding: 3px;
    width: 75px;
    height: 21px;
}

.inputFloat
{
    background-color: var(--edit);
    color: black;

    margin-top: 2px;
    padding: 3px;
    width: 75px;
    height: 21px;
}

.inputSetting
{
    background-color: var(--edit);
    color: black;
    margin-top: 2px;
    padding: 3px;
    margin: 1px;
    width: 100%;
}

span > input
{
    display: inline-block;
    width: 98%;
}

.inputComment
{
    font-size: 13px;
}

.time-input
{
    background-color: var(--edit);
    margin-top: 2px;
    padding: 3px;
    width: 45px;
    color: black;

    border-radius: var(--borderRadius);
    border-color: var(--borderColor);
    border-style: none;
    border-width: 1px;
}

.timepicker
{
    width: 110px;
    display: flex;
}

.timerangepicker
{
    display: flex;
    align-items: center;
}

.timepicker > input
{
    width: inherit;
}

.info
{
    background-color: green;
    color: white;
    text-decoration: none;
    font-size: 22px;
    width: 95%;
    padding: 15px;
    border-radius: 5px;
}

.help
{
    cursor: pointer;
    margin-left: 50px;
}

.infoWarn
{
    background-color: orange;
    color: white;
    text-decoration: none;
    font-size: 22px;
    width: 95%;
    padding: 15px;
    border-radius: 5px;
}

.infoError
{
    background-color: red;
    color: white;
    text-decoration: none;
    font-size: 22px;
    width: 95%;
    padding: 15px;
    border-radius: 5px;
}

.log
{
    background-color: var(--light1);
    text-decoration: none;
    font-size: 16px;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    white-space: pre;
}

.schemaBox
{
    background-color: var(--light1);
    padding: 0px;
    margin-top: 0px;
    position: relative;
    display: inline-block;
}

.schemaDiv
{
    color: white;
    padding-top: 5px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 3px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border-radius: var(--borderRadiusSchemaValue);
    border-color: var(--borderColorSchemaValue);
    border-style: var(--borderStyleSchemaValue);
    border-width: 1px;
}

.inputTableAlert
{
    background-color: var(--light1);
    background: linear-gradient(to bottom right, var(--light3), var(--light1)); /* Standard syntax (must be last) */
    margin-top: 2px;
    color: black;
    padding: 5px;
}

.inputTableAlert > div > span
{
    width: 12%;
    min-width: 100px;
    display: inline-table;
    text-align: left;
    color: white;
}

.confirmDiv
{
    margin-top: 5px;
}

.configDescriptionCaption
{
    padding: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.configDescription
{
    padding: 15px;
}

.phSetup
{
    background: linear-gradient(to bottom right, var(--light3), var(--light1)); /* Standard syntax (must be last) */
    margin-top: 8px;
    padding: 5px;
}

.phSetup > div > span
{
    width: 15%;
    min-width: 200px;
    display: inline-table;
    text-align: left;
    height: 24px;
}

.phSetup > div > span:nth-child(n+2)
{
    width: 3%;
    min-width: 45px;
    display: inline-table;
    text-align: left;
    height: 24px;
}

.inputTableConfig
{
    background-color: var(--light1);
    background: linear-gradient(to bottom right, #00000096, black); /* Standard syntax (must be last) */
    padding: 5px;
}

.inputTableConfig > div > span
{
    width: 24%;
    min-width: 100px;
    display: inline-table;
    text-align: left;
    height: 24px;
    color: var(--listFontColor);
}

.inputTableConfig > div > span:nth-child(3n)
{
    width: 45%;
    min-width: 100px;
    display: inline-table;
    text-align: left;
    height: 24px;
    color: var(--listFontColor);
}

.container
{
    overflow-y: auto;
}

.listContainer
{
    font-size: 18px;
}

.listContainer > div > div > img
{
    margin-top: 2%;
    display: table-cell;
    max-height: 80%;
}

.listFirstCol
{
    width: 20%;
    min-width: 145px;
    display: inline-block;
    text-align: left;
    overflow: hidden;
    line-height: 45px;
    color: var(--listFontColor);
}

.listSecondCol
{
    display: inline-flex;
    text-align: left;
    overflow: hidden;
    align-items: center;
    color: var(--listFontColor);
}

.listRow {
/*    background: linear-gradient(to bottom right, var(--light3), var(--light1)); */
    background-color: var(--widgetBackground);
    border-radius: var(--borderRadius);
    border-color: var(--borderColor);
    border-style: solid;
    border-width: 1px;
    margin: 2px;
    height: 45px;
    display: flex;
    padding: 0px 0px 0px 10px;
}

.tableRow
{
    background: linear-gradient(to bottom right, var(--light3), var(--light1)); /* Standard syntax (must be last) */
    border-radius: var(--borderRadius);
    margin: 2px;
    height: 30px;
    display: flex;
    padding: 5px;
}

.tableRow > input
{
    margin-left: 15px;
    align-self: center;
    height: 18px;
}

.tableRow > button
{
    margin-left: 15px;
    align-self: center;
    height: 25px;
}

.tableRow > input[type='search']
{
    height: 24px;
}

.tableRow > div
{
    margin-left: 15px;
    align-self: center;
}

div.redCircle
{
    width: 20px;
    height: 15px;
    border-radius: 8px;
    margin-left: 4px;
    background-color: red;
}

div.greenCircle
{
    width: 20px;
    height: 15px;
    border-radius: 8px;
    margin-left: 4px;
    background-color: green;
}

.tableMultiCol
{
    width: 100%;
    background-color: var(--light1);
    color: var(--buttonFont);
    margin-top: 5px;
    padding: 0;
    font-size: 17px;
}

.tableMultiCol > div
{
    background-color: var(--light3);
    background: linear-gradient(to bottom right, var(--light3), var(--light1)); /* Standard syntax (must be last) */
}

.tableMultiColCell
{
    padding-right: 12px;
    height: 30px;
}

table.tableMultiCol tr:nth-child(even)
{
    background-color: var(--light3);
    background: linear-gradient(to bottom, var(--light1), var(--light3)); /* Standard syntax (must be last) */
}

table.tableMultiCol tr:nth-child(odd)
{
    background-color: var(--light1);
    background: linear-gradient(to bottom right, var(--light1), var(--light3)); /* Standard syntax (must be last) */
}

.tableMultiCol > div > span
{
    padding: 5px 10px 5px 10px;
    display: inline-block;
    text-align: left;
}

.stateInfo
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imageState
{
    background-color: slategray;
    padding: 7px;
    margin: 2px;
}

.heatingState
{
    background-color: slategray;
    width: 35%;
    min-width: 145px;
    padding: 7px;
    margin: 2px;
}

.heatingState > div > div
{
    display: grid;
}

.heatingState > div > div > span
{
    width: 10%;
    min-width: 215px;
    display: table-flex;
    text-align: left;
}

.daemonState
{
    background-color: slategray;
    float: right;
    width: 35%;
    min-width: 280px;
    padding: 7px;
    margin: 2px;
}

.daemonState > div > div > span
{
    width: 10%;
    min-width: 150px;
    display: table-cell;
    text-align: left;
}

#aStateOk
{
    color: #091784;
    font-size: 24px;
}

#aStateFail
{
    color: red;
    text-decoration: blink;
    font-size: 24px;
}

#aStateHeating
{
    color: red;
    font-size: 24px;
}

#aStateOther
{
    color: #091784;
    font-size: 24px;
}

/* ----------------------- */
/* VDR FB */

.vdrFbContainer
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px;
    width: 90%;
    max-width: 450px;
}

.vdrFbContainer > div
{
    overflow: hidden;
    width: 31%;
    margin: 2px;
}

.vdrButtonColorDiv
{
    width: 23% !important;
    height: 60px;
    margin: 2px;
}

.vdrButton
{
    border-radius: 15px;
    border-color: var(--borderColor);
    background-color: var(--background);
    color: var(--light4);
    text-decoration: none;
    font-size: 5.0vh;
    height: 100%;
    width: 100%;
    padding: 0px;
}

.vdrButton:active {
    background-color: var(--caption2);
    transform: translateY(2px);
}

.vdrButton:hover
{
/*    background-color: var(--caption2); */
}

.vdrButtonRound
{
    border-radius: 100px;
}

.vdrArrowButton
{
    color: lightblue;
}

.vdrArrowButtonUp
{
    border-radius: 100px 100px 15px 15px;
}

.vdrArrowButtonDown
{
    border-radius: 15px 15px 100px 100px;
}

.vdrArrowButtonLeft
{
    border-radius: 100px 15px 15px 100px;
}

.vdrArrowButtonRight
{
    border-radius: 15px 100px 100px 15px;
}

.vdrColorButtonRed
{
    background-color: red;
}

.vdrColorButtonGreen
{
    background-color: green;
}

.vdrColorButtonYellow
{
    background-color: darkgoldenrod;
}

.vdrColorButtonBlue
{
    background-color: darkblue;
}

/* ----------------------- */
/* Chart */

.chartCanvas
{
    background-color: var(--background);
}

.chartDialogCanvas
{
    background-color: black;
}
.chartTitle
{
    text-align: center;
    font-size: x-large;
    padding: 4px;
    margin: 5px;
    background-color: slategray;
}

.chartButtons
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: var(--background);
}

.chartButton
{
    display: inline;
    width: 200px;
    padding: 4px;
    margin: 5px;
    color: white;
    font-size: x-large;
    background-color: slategray;
}

.chartButton:hover
{
    background-color: darkslategray;
}

.chartBookmarks
{
    display: flex;
    padding: 5px;
}

.chartBookmarkButton
{
    display: inline;
    min-width: 76px;
    padding: 4px;
    margin: 5px;
    color: white;
    height: 28px;
    background-color: slategray;
}

.chartBookmarkButton:hover
{
    background-color: darkslategray;
}

.chartSelectors
{
    display: flex;
    flex-wrap: wrap;
    padding: 15px 15px 15px 15px;
    background-color: var(--background);
}

.chartSel
{
    display: inline;
    width: 300px;
    padding: 0px;
}

/* ----------------------- */
/* Heating Menu */

.menuButtonContainer
{
    display: list-item;
    flex-wrap: wrap;
    justify-content: center;
}

.menuButtonContainer > div
{
    justify-content: center;
    overflow: hidden;
    margin: 2px;
}

.menuButton
{
    display: grid;
    align-items: center;
    text-align: center;
    grid-gap: 1px;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--light1);
    color: var(--buttonFont);
    min-height: 60px;
    padding: 10px;
}

.menuButtonHead
{
    display: grid;
    align-items: center;
    text-align: center;
    grid-gap: 1px;
    font-size: 1.5em;
    font-weight: bold;
    background-color: var(--light1);
    color: var(--buttonFont);
    min-height: 40px;
    padding: 1px;
}

.menuButtonValue
{
    display: grid;
    align-items: center;
    text-align: center;
    grid-gap: 1px;
    font-size: 1.4em;
    font-weight: normal;
    background-color: var(--light1);
    color: var(--buttonFont);
    min-height: 50px;
    padding: 1px;
}

.menuButtonValueEditable
{
    cursor: pointer;
    color: #3498db;
}

.menuButtonCaption
{
    display: grid;
    align-items: center;
    text-align: center;
    grid-gap: 1px;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    min-height: 60px;
    padding: 10px;
    background-color: var(--light3);
}


.weatherForecast
{
    position: absolute;
    top: 15%;
    left: 20%;
    height: 80%;
    width: 55%;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: black;
    color: white;
    outline: none;
}

.weatherForecast > div
{
    height: 15px;
    width: 95%;
    display: flex;
    align-items: center;
    padding: 8px;
    margin: 8px;
}

.weatherForecast > div > span:nth-child(n+3)
{
    margin-right: 15px;
}

/* ----------------------- */
/* Dashboard Widgets */

.widgetContainer
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
}

.widgetContainer > div
{
    justify-content: center;
    overflow: hidden;
    width: 212px;
    height: 212px;
    margin: 3px;
    background-color: var(--widgetBackground);
    padding: 1px;
}

.widget
{
    display: grid;
    grid-template-areas:
      'title'
      'main'
      'progress';
    grid-template-rows: 12% 75% 13%;
    grid-gap: 1px;
    box-shadow: 1px 1px 1px 0px var(--shadow);
}

.widgetSpacer
{
    box-shadow: 0px 0px 0px 0px var(--shadow);
}

.widgetSymbolValue
{
    display: grid;
    grid-template-areas:
      'title'
      'main'
      'value'
      'progress';
    grid-template-rows: 14% 62% 20% 2%;
    grid-gap: 1px;
    box-shadow: 1px 1px 1px 0px var(--shadow);
}

.widgetValue
{
    display: grid;
    grid-template-areas:
      'title'
      'peak'
      'main'
      'progress';
    grid-template-rows: 14% 14% 70% 2%;
    grid-gap: 1px;
    box-shadow: 1px 1px 1px 0px var(--shadow);
}

.widgetDropZone
{
}

.widgetDropZone[drop-active=true]
{
    border-color: orange;
    border-style: solid;
    border-width: 1px;
}

.widgetPlain
{
    text-align: center;
    box-shadow: 1px 1px 1px 0px var(--shadow);
}

.widget-weather
{
    text-align: left;
    font-size: x-large;
    font-weight: normal;
    margin-top: 20px;
    display: inline-block;
}

.widgetManuel
{
    background-color: #a27373 !important;
}

.widgetGauge
{
    display: grid;
    grid-template-areas:
      'title'
      'main';
    grid-template-rows: 15% 85%;
    grid-gap: 1px;
    box-shadow: 1px 1px 1px 0px var(--shadow);
}

.widgetCtrl
{
    display: grid;
    grid-template-areas:
      'title title'
      'main main'
      'ctrl1 ctrl2';
    grid-template-rows: 15% 66% 16%;
    grid-gap: 1px;
    box-shadow: 1px 1px 1px 0px var(--shadow);
}

.widgetChart
{
    display: grid;
    grid-template-areas:
      'title title'
      'peak value'
      'chart chart';
    grid-template-rows: 10% 14% 75%;
    grid-gap: 1px;
    box-shadow: 1px 1px 1px 0px var(--shadow);
}

.symbol-value
{
    grid-area: value;
    font-size: 1.5em;
    font-weight: bold;
    align-self: center;
    justify-self: center;
}

.chart-value
{
    grid-area: value;
    font-size: 1.5em;
    font-weight: bold;
    text-align: end;
    overflow: hidden;
    background-color: transparent;
    margin-top: 0px;
    margin-right: 4px;
    color: var(--buttonFont);
}

.chart-peak
{
    grid-area: peak;
    font-size: 0.9em;
    font-weight: bold;
    padding-left: 12px;
    overflow: hidden;
    background-color: transparent;
    margin-top: 10px;
    color: red;
}

.chart-canvas-container
{
    grid-area: chart;
    /* position: relative;*/
    width: inherit;
}

.chart-canvas
{
}

.widget-title
{
    grid-area: title;
    display: block;
    font-size: 1.2em;
    background-color: transparent;
    cursor: pointer;
    border: none;
    color: var(--listFontColor);
    justify-self: center;
    text-align: center;
    align-self: center;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0px;
    margin: 0px;
}


.widget-edit
{
    color: orange;
}

.widget-edit:hover
{
/*    font-size: 1em;*/
    font-weight: bold;
}

.widget-progress {
    grid-area: progress;
    background-color: gray;
    width: 80%;
    justify-self: center;
    border-radius: 8px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.progress-bar {
    width: 0%;
    height: 100%;
    background-color: #3498db;
    border-radius: 8px;
}

.widget-mode
{
    font-size: 0.6em;
}

.widget-main
{
    grid-area: main;
    background-color: transparent;
    border: none;
    width: inherit;
    outline: none;
    cursor: pointer;
    text-align: center;
    color: white;
    padding: 0px;
    font-size: 12vh;
}

.widget-main > img
{
    max-height: 100%;
}

.widget-main-gauge
{
    grid-area: main;
    width: inherit;
    align-self: center;
}

.widgetMeter
{
    display: grid;
    grid-template-areas:
        'title'
        'main';
    grid-template-rows: 15% 85%;
    grid-gap: 1px;
    box-shadow: 1px 1px 1px 0px var(--shadow);
}

.widgetMeterLinear
{
    display: grid;
    grid-template-areas:
        'title title'
        'main peak'
        'main value';
    grid-template-rows: 15% 15% 70%;
    grid-template-columns: 58% 42%;
    grid-gap: 1px;
    box-shadow: 1px 1px 1px 0px var(--shadow);
}

.widget-main-meter
{
    grid-area: main;
    width: 100%;
    height: 100%;
    align-self: center;
}

.widget-main-meter-lin
{
    grid-area: main;
    height: 100%;
    /*align-self: center;*/
    margin-left: 10%;
    padding-left: 10%;
}

.widget-main-value-lin
{
    grid-area: value;
    font-size: 1.5em;
    /*text-align: end;*/
    font-weight: bold;
    align-self: center;
}

.widget-main-peak-lin
{
    grid-area: peak;
    font-size: 0.9em;
    font-weight: bold;
    padding-left: 2px;
    overflow: hidden;
    background-color: transparent;
    margin-top: 5px;
    color: red;
    text-align: right;
    margin-right: 5px;
}

.widget-main-meter > canvas
{
    width: 100%;
    height: 100%;
}

.widget-value
{
    grid-area: main;
    display: inline-grid;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    align-items: center;
    word-break: break-word;
    color: var(--light4);
}

.widget-time
{
    grid-area: main;
    display: inline-grid;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    align-items: center;
    word-break: break-word;
    color: var(--light4);
}

.widget-ctrl1 { grid-area: ctrl1; }
.widget-ctrl2 { grid-area: ctrl2; }

.widgetCtrl > div > button > img
{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.widgetCtrl > div > button
{
    height: 100%;
    background-color: Transparent;
    border: none;
    overflow: hidden;
    outline: none;
    cursor: pointer;
}

.widget > button > img
{
    max-width: 100%;
    max-height: 100%;
    justify-self: center;
    vertical-align: middle;
}

.widgetGauge > button > img
{
    max-width: 100%;
    max-height: 100%;
    background-color: var(--light1);
    justify-self: center;
}

.scale-text
{
    text-align: center;
    font-size: 3.0em;
    fill: white;
}

.gauge-value
{
    text-align: center;
    fill: white;
}

.widgetGauge path
{
    stroke-width: 55;
    stroke: #ecf0f1;
    fill: none;
}

.widgetGauge.participation path.data-peak
{
    stroke: red;
}

.widgetGauge.participation path.data-arc
{
    stroke: #3498db;
}

/* -------------- */
/* chart dialog box */

dialog
{
    display: none;
    position: absolute;
    top: 10%;
    left: 5%;
    width: 80%;
    background: white;
    border: 1px solid grey;
    border-radius: 0 .5em .5em;
    z-index: 1002;
    padding: .5em 1em;
    height: 80%;
}

dialog[open="open"]
{
    display: block;
}

dialog::backdrop, #backdrop
{
    /* Ebene zwischen Hintergrund und Dialog-Box, Pseudoelement noch nicht implementiert */

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

/* -------------- */
/* Media specials */

@media only screen and (max-width:395px)
{
    .daemonState               { width: 88%; }
    .menu                      { padding: 0px; margin: 0px; }
    .button1                   { margin: 1px; }
    .inputTableConfig > div:nth-child(odd) { background-color: #0000007d; }
    .inputTableConfig > div > span:nth-child(3) { width: 25%; }
    .inputTableConfig > div > span              { width: 30%; }
    .buttonDashboard           { margin: 1px 0px 1px 0px; }
    .menuDashboard             { margin: 2px; }
    .widgetContainer > div     { width: 175px; height: 160px; margin: 1px; }
    .widgetGauge               { grid-template-rows: 30% 70%; }
    .widget                    { grid-template-rows: 15% 70% 15%; }
    .widgetChart               { grid-template-rows: 15% 18% 67%; }
    .widget-title              { font-size: 1.0em; }
    .widget-value              { font-size: 1.0em; }
    .widget-weather            { font-size: x-large; margin-top: 0px;  }
    .widget-weather > br       { display: none; }
    .widget-main               { font-size: 13vh;}
    .weatherForecast           { left: 2%; width: 95%; }
}

@media only screen and (min-width:396px) and (max-width:1080px)
{
    .daemonState               { width: 88%; }
    .menu                      { padding: 0px; margin: 0px; }
    .button1                   { margin: 1px; }
    .inputTableConfig > div:nth-child(odd) { background-color: #0000007d; }
    .inputTableConfig > div > span:nth-child(3) { width: 25%; }
    .inputTableConfig > div > span              { width: 30%; }
    .buttonDashboard           { padding: 4px; margin: 1px 0px 1px 0px; }
    .menuDashboard             { margin: 2px; }
    .widgetContainer > div     { width: 180px; height: 160px; margin: 2px; }
    .widgetGauge               { grid-template-rows: 30% 70%; }
    .widget                    { grid-template-rows: 15% 70% 15%; }
    .widgetChart               { grid-template-rows: 15% 18% 67%; }
    .widgetMeterLinear         { grid-template-rows: 15% 25% 60%; }
    .widget-title              { padding: 3px; padding-top: 4px; font-size: 1.0em; }
    .widget-main-peak-lin      { font-size: 0.7em; }
    .widget-value              { font-size: 1.2em; }
    .widget-weather            { font-size: x-large; margin-top: 0px;  }
    .widget-weather > br       { display: none; }
    .widget-main               { font-size: 11vh;}
    .weatherForecast           { left: 2%; width: 95%; }
}

@media only screen and (min-height:480px) and (max-height:500px)
{
    .content                   { margin: 0px; }
    .widgetContainer > div     { width: 120px; height: 95px; margin: 1px; }
    .widget                    { grid-template-rows: 15% 73% 12%; }
    .widgetChart               { grid-template-rows: 15% 14% 71%; }
    .buttonDashboard           { padding: 4px; margin: 0px 0px 0px 0px; }
    .chart-peak                { font-size: 0.7em; margin-top: 4px; }
    .widget-value              { font-size: 1.2em; }
    .widget-time               { font-size: 1.3em; }
    .chart-value               { font-size: 1.0em; }
    .widget-main               { font-size: 15vh;}
    .widget-main-value-lin     { font-size: 0.9em;  }
    .widget-main-peak-lin      { margin-right: 0px; }
    .widget-weather            { font-size: 1.2em; margin-top: 0px;  }
    .widget-weather > br       { display: block; }
    .symbol-value              { font-size: large;}
    .weatherForecast           { left: 5%; width: 90%; }
}

@media only screen and (max-width: 375px) and (min-width:321px)
{
    .widgetContainer > div     { width: 168px; padding: 0px; margin: 1px; }
    .widget-weather            { font-size: large; margin-top: 0px;  }
    .widget-weather > br       { display: none; }
    .widget-main               { font-size: 13vh;}
    .weatherForecast           { left: 2%; width: 95%; }
}

@media only screen and (max-width: 320px)
{
    .widgetContainer > div     { width: 150px; padding: 0px; margin: 1px; }
    .widget-weather            { font-size: large; margin-top: 0px;  }
    .widget-weather > br       { display: none; }
    .widget-main               { font-size: 13vh;}
    .weatherForecast           { left: 2%; width: 95%; }
}
