
.content
{
    margin: 5px;
}

.rounded-border
{
    border-radius: var(--borderRadius);
    border-color: var(--borderColor);
    border-style: solid;
    border-width: 1px;
}

.schemaValue
{
    color: var(--buttonFont);
    padding: 3px;
    text-decoration: none;

    border-radius: var(--borderRadiusSchemaValue);
    border-color: var(--borderColorSchemaValue);
    border-style: var(--borderStyleSchemaValue);
    border-width: 1px;
}

.tableButton
{
    color: var(--buttonFont);
    padding: 2px;
    text-decoration: none;
    background-color: var(--colorTableButton);
    border-radius: var(--borderRadiusTableButton);
    border-color: var(--borderColorTableButton);
    border-style: solid;
    border-width: 1px;
}

.tableButton:hover
{
    background-color: var(--buttonAction);
    color: white;
}

.button1
{
    background-color: var(--caption1);
    color: var(--buttonFont);
    margin: 5px 1px 5px 1px;
    display: inline-block;
    padding: 6px 6px;
    text-decoration: none;
}

.button1:hover
{
    background-color: var(--caption2);
}

.button2
{
    background-color: var(--caption2);
    color: black;
    padding: 3px 10px;
    text-decoration: none;
}

.button2:hover
{
    color: white;
}

.button2sel
{
    background-color: var(--caption1);
    color: black;
    margin: 2px;
    padding: 5px 15px;
}

.button2sel:hover
{
    color: white;
}

.button3
{
    background-color: var(--buttonAction);
    padding: 5px 10px;
    color: black;
    margin-top: 10px;
    text-decoration: none;
}

.button3:hover
{
    color: white;
}

.seperatorTitle1
{
    background-color: var(--caption1);
    margin-top: 15px;
    padding: 5px 15px;
}

.seperatorTitle2
{
    background-color: var(--caption2);
    margin-top: 5px;
    padding: 5px 15px;
}

.input
{
    background-color: var(--edit);
    margin-top: 2px;
    color: black;
    padding: 3px;
}

.inputComment
{
    font-size: 13px;
}

.info
{
    background-color: green;
    color: white;
    text-decoration: none;
    font-size: 22px
    width: 95%;
    padding: 15px;
    border-radius: 5px;
}

.help
{
    cursor: pointer;
    margin-left: 50px;
}

.infoWarn
{
    background-color: orange;
    color: white;
    text-decoration: none;
    font-size: 22px
    width: 95%;
    padding: 15px;
    border-radius: 5px;
}

.infoError
{
    background-color: red;
    color: white;
    text-decoration: none;
    font-size: 22px
    width: 95%;
    padding: 15px;
    border-radius: 5px;
}

.box
{
    background-color: var(--light1);
    padding: 10px;
    margin-top: 10px;
}

.imageBox
{
    background-color: var(--light1);
    padding: 10px;
    margin-top: 10px;
    position: relative;
}

.inputTable
{
    background-color: var(--light1);
    margin-top: 2px;
    color: black;
    padding: 5px;
}

.inputTable > div > span
{
    width: 12%;
    min-width: 100px;
    display: inline-table;
    text-align: left;
}

.table2Col
{
    background-color: var(--light1);
    color: var(--buttonFont);
    margin-top: 10px;
    padding: 0;
    font-size: 18px;
}

.table2Col > div:nth-child(even)
{
    background-color: var(--light3);
}

.table2Col > div > span
{
    width: 35%;
    min-width: 280px;
    padding: 4px 10px 4px 10px;
    display: inline-block;
    text-align: left;
}

.tableMultiCol
{
    width: 100%;
    background-color: var(--light1);
    color: var(--buttonFont);
    margin-top: 10px;
    padding: 0;
    font-size: 17px;
}

table.tableMultiCol tr:nth-child(even)
{
    background-color: var(--light3);
}

.tableMultiCol > div:nth-child(even)
{
    background-color: var(--light3);
}

.tableMultiCol > div > span
{
    width: 25%;
    padding: 5px 10px 5px 10px;
    display: inline-block;
    text-align: left;
}

.stateInfo
{
    background-color: var(--light1);
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.centerImage
{
    float: right;
    margin: 0px 0px 0px 0px;
    border-radius: 10px;
}

.heatingState
{
    width: 36%;
}

.heatingState > div > span
{
    display: block;
}

.P4dInfo
{
    float: right;
    margin-left: 40px;
    width: 30%;
}

.P4dInfo > div > span
{
    width: 10%;
    min-width: 215px;
    display: table-cell;
    text-align: left;
}

#divP4dState
{
    display: block;
}

@media only screen and (max-width: 420px)
{
    .content                   { padding: 0px; }
    #divP4dState               { display: none; }
    .table2Col > div > span    { padding: 3px 10px 3px 10px; }
    .P4dInfo                   { font-size: 15px; margin-left: 0px; min-width: 95%; }
    .P4dInfo > div > span      { min-width: 110px; }
    .heatingState              { width: 56%; }
    .centerImage               { margin: 0px 0px 0px 0px; }
}

@media only screen and (min-width: 768px) and (max-width:1139px)
{
}

@media only screen and (min-width: 900px)
{
}

@media only screen and (min-width: 1140px)
{
}

#aStateOk
{
    color: green;
    font-size: 24px;
}

#aStateFail
{
    color: red;
    text-decoration: blink;
    font-size: 24px;
}

#aStateHeating
{
    color: red;
    font-size: 24px;
}

#aStateOther
{
    color: blue;
    font-size: 24px;
}

#aSelect
{
    background-color: var(--light1);
    margin-top: 10px;
    padding: 10px;
}

#aSelectChart
{
    background-color: var(--light1);
    padding: 10px;
}

.tableTitle
{
    width: 100%;
    background-color: var(--caption1);
    color: black;
    font-size: 20px;
    padding: 20px;
}

.chart
{
    background-color: var(--light1);
    padding: 10px;
    margin-top: 10px;
}

.cellL0
{
    font-size: 16px;
    background-color: var(--caption1);
    color: black;
}

.cellL1
{
    font-size: 16px;
    background-color: var(--light4);
    color: black;
}

.cellL2
{
    font-size: 16px;
    background-color: var(--light3);
    color: black;
}

.cellL3
{
    font-size: 16px;
    background-color: var(--light2);
    color: black;
}

.cellL4
{
    font-size: 16px;
    background-color: var(--light1);
    color: black;
}
