
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.ui-autocomplete
{
  height: 120px;
  overflow-y: auto;
}

.content
{
    display: flex;
}

.slider
{
    display: none;
    height: 20x;
    padding: 15px;
    width: 50%;
    margin: 0px;
    position: absolute;
    vertical-align: middle;
    top: 50%;
    left: 25%;
    background-color: #272727d9;
}

.lightColor
{
    max-width: 340px;
    width: 100%;
    box-sizing: border-box;
}

.lightColorDiv
{
    position: fixed;
    z-index: 1;
    left: 45%;
    top: 40%;
    width: fit-content;
    text-align: center;
    background-color: #bbbbbb;
    padding-bottom: 8px;
}

.navMenu
{
    /*padding: var(--containerPadding);*/
}

.menu
{
    display: grid;
    margin-left: 5px;
    margin-right: 5px;
    background-color: var(--menu);
    padding: 3px;
}

.infoBox
{
    background-color: var(--neutral3);
    padding: var(--containerPadding);
    box-sizing: border-box;
    color: white;
    width: 100%;
    margin-top: 2px;
    display: none;
    max-height: 33%;
    z-index: 9999;
    position: fixed;
    overflow: auto;
}

.infoBox > div
{
    display: inline-flex;
    align-items: center;
    width: -webkit-fill-available;
    width: -moz-available;
}

.infoBox-active
{
    display: block;
}

.burgerMenu
{
    float: right;
    width: 42px;
    padding: 4px 4px !important;
    margin-left: 8px;
    background-color: transparent !important;
}

.burgerMenu > div
{
    height: 2px;
    margin: 4px;
    background-color: white;
}

.burgerMenuInline
{
    float: right;
    width: 35px;
    padding: 2px 2px !important;
    margin-left: 8px;
}

.burgerMenuInline > div
{
    height: 1px;
    margin: 4px;
    background-color: white;
}

.footer
{
    height: 30px;
    position: fixed;
    bottom: 0;
    width: -webkit-fill-available;
    width: -moz-available;
    padding: 3px;
	 margin: 2px 5px env(safe-area-inset-bottom) 5px;
    background-color: var(--menu);
    display: flex;
    color: white;
    font-size: 12px;
    align-items: center;
}

.footer :nth-child(2)
{
    padding-left: 10px;
    font-size: medium;
}

.footer :nth-child(3)
{
    width: -webkit-fill-available;
    width: -moz-available;
    color: #4d9143;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    opacity: 0;
}

.footer :nth-child(4)
{
    width: 125px;
    text-align: end;
    padding-right: 5px;
    padding-top: 3px;
}

.rounded-border
{
    border-radius: var(--borderRadius);
    border-color: var(--borderColor);
    border-style: none;
    border-width: 1px;
}

.border-underline
{
    border-style: none;
    border-radius: 0;
    border-color: white;
    border-width: 1px;
    border-bottom-style: solid;
}

.hidden
{
    width: 0px !important;
    height: 0px !important;
    visibility: hidden !important;
    display: none !important;
}

/* for progress dialog */

.progress {
  border: 5px solid white;
  border-radius: 50%;
  border-top: 5px solid var(--blue);
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {   /* Safari */
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {  /* Safari */
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.progress-small {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid var(--blue);
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.progress-smaller {
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid var(--blue);
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.button-group-spacing
{
    height: 16px;
}

.tabButton
{
    cursor: pointer;
    background-color: var(--menu);
    color: var(--buttonFont);
    fill: var(--buttonFont);
    opacity: 0.6;
    display: inline-block;
    padding: 6px 12px;
    margin-top: 2px;
    text-decoration: none;
    transition: 0.5s;
}

.tabButton:hover
{
    opacity: 0.8;
}

.tabButton.active
{
    opacity: 1.0;
    font-weight: bold;
}

.button1
{
    background-color: var(--neutral3);
    color: var(--buttonFont);
    display: inline-block;
    padding: 6px;
    text-decoration: none;
    margin-right: 5px;
}

.button1:hover
{
    background-color: var(--neutral4);
}

.button2
{
    background-color: var(--neutral4);
    color: var(--neutral0);
    padding: 3px 10px;
    text-decoration: none;
    height: 24px;
}

.button2:hover
{
    background-color: var(--neutral3);
}

.buttonOptions
{
    display: inline;
    font-size: 14px;
    min-width: 76px;
    padding: 4px;
    margin: 2px;
    color: var(--buttonFont);
    min-height: 32px;
    height: fit-content;
    background-color: slategray;
    text-decoration: none;
}

.buttonOptions:hover
{
    background-color: #335656a1;
}

.tool-button
{
    height: 32px;
    color: var(--buttonFont);
    font-size: 14px !important;
    background-color: var(--neutral3);
    cursor: pointer;
    width: -webkit-fill-available;
    width: -moz-available;
    white-space: nowrap;
    vertical-align: middle;
    transition: 0.3s;
    margin-bottom: 4px;
}

.tool-button-svg
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    fill: var(--buttonFont);
    color: var(--buttonFont);
    height: 33px;
    width: 33px;
    align-self: center;
    font-size: 14px;
    background-color: var(--neutral3);
    cursor: pointer;
    white-space: nowrap;
    vertical-align: middle;
    transition: 0.3s;
}

.tool-button-svg > svg
{
    height: 20px;
    min-width: 20px;
}

.tool-button-svg-smal
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    fill: var(--buttonFont);
    color: var(--buttonFont);
    align-self: center;
    font-size: 14px;
    background-color: transparent;
    cursor: pointer;
    white-space: nowrap;
    vertical-align: middle;
    transition: 0.3s;
}

.tool-button-svg-smal > svg
{
    height: 18px;
    width: 18px;
}

.menuDashboard
{
    background-color: var(--dashboardMenuBackground);
    width: 99%;
    margin: 7px;
    display: inline-flex;
    overflow-x: auto;
    padding: 0px 0px 0px env(safe-area-inset-left);
}

.buttonDashboard
{
    display: inline;
    margin: 5px 3px 5px 3px;
    padding: 0px;
    color: var(--buttonFont);
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
    font-size: x-large;
}

.buttonDashboard:hover
{
/*  border-bottom-color: lightgray;
    border-bottom-style: solid;
    border-bottom-width: 2px; */
}

.buttonDashboardActive
{
    border-radius: 0;
    border-bottom-color: var(--buttonFont);
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.buttonDashboardTool
{
    margin: 5px 5px 5px 2px;
    align-self: center;
    color: orange;
}

.buttonDashboardTool:hover
{
    background-color: darkslategray;
}

.seperatorFold
{
    background-color: slategray;
    color: var(--light4);
    padding: 5px 15px;
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 4px;
    cursor: pointer;
}

.seperator
{
    background-color: slategray;
    color: var(--light4);
    padding: 5px 15px;
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 4px;
}

.tableImage
{
    width: 80%;
    margin: 10%;
}

.labelB1
{
    font-size: 12px;
    color: var(--neutral4) !important;
    margin-left: 6px;
    font-weight: normal;
}

.labelB2
{
    font-size: 12px;
    color: var(--neutral0) !important;
    margin-left: 6px;
    font-weight: normal;
}

/* ----------------------- */
/* Input */

.input
{
    background-color: var(--light3);
    border-width: 1px;
    border-color: var(--neutral2);
    border-style: solid;
    color: var(--fontColor);
    margin-top: 2px;
    margin-bottom: 2px;
    padding-right: 3px;
    height: 32px;
    box-sizing: border-box;
    font-size: 14px;
}

.inputTime
{
    background-color: var(--light3);
    border-width: 1px;
    border-color: var(--neutral2);
    border-style: solid;
    color: var(--fontColor);
    margin-top: 2px;
    height: 32px;
    box-sizing: border-box;
    padding: 3px;
    width: 65px;
}

.inputNum
{
    background-color: var(--light3);
    border-width: 1px;
    border-color: var(--neutral2);
    border-style: solid;
    color: var(--fontColor);
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 3px;
    width: 75px;
    height: 32px;
    box-sizing: border-box;
}

.inputFloat
{
    background-color: var(--light3);
    border-width: 1px;
    border-color: var(--neutral2);
    border-style: solid;
    color: var(--fontColor);
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 3px;
    width: 75px;
    height: 32px;
    box-sizing: border-box;
}

.inputSetting
{
    background-color: var(--light3);
    border-width: 1px;
    border-color: var(--neutral2);
    border-style: solid;
    color: var(--fontColor);
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 3px;
    margin: 1px;
    height: 32px;
    box-sizing: border-box;
    width: 99%;
}

.inputSettingScript
{
    font-family: monospace !important;
    white-space: pre !important;
    resize: vertical;
    width: -webkit-fill-available;
    width: -moz-available;
}

span > input
{
    display: inline-block;
    width: 98%;
}

span > input
{
    display: inline-block;
    width: 98%;
}

span > select
{
    display: inline-block;
    width: 98%;
}

.inputComment
{
    font-size: 13px;
}

.time-input
{
    background-color: var(--light3);
    border-width: 1px;
    border-color: var(--neutral2);
    border-style: solid;
    color: var(--fontColor);
    margin-top: 2px;
    padding: 3px;
    width: 45px;
}

.timepicker
{
    width: 110px;
    display: flex;
}

.timerangepicker
{
    display: flex;
    align-items: center;
}

.timepicker > input
{
    width: inherit;
}

.info
{
    background-color: green;
    color: var(--fontColor);
    text-decoration: none;
    font-size: 22px;
    width: 95%;
    padding: 15px;
    border-radius: 5px;
}

.help
{
    cursor: pointer;
    margin-left: 50px;
}

.infoWarn
{
    background-color: orange;
    color: var(--fontColor);
    text-decoration: none;
    font-size: 22px;
    width: 95%;
    padding: 15px;
    border-radius: 5px;
}

.infoError
{
    background-color: red;
    color: var(--fontColor);
    text-decoration: none;
    font-size: 22px;
    width: 95%;
    padding: 15px;
    border-radius: 5px;
}

.log
{
    /* text-decoration: none;
    font-size: 16px;
    width: 100%;
    padding: 5px; */
    border-radius: 5px;
    white-space: pre;
}

.schemaBox
{
    background-color: var(--light1);
    padding: 0px;
    margin-top: 0px;
    position: relative;
    display: inline-block;
}

.schemaDiv
{
    color: var(--fontColor);
    padding-top: 5px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 3px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border-radius: var(--borderRadiusSchemaValue);
    border-color: var(--borderColorSchemaValue);
    border-style: var(--borderStyleSchemaValue);
    border-width: 1px;
}

.inputTableAlert > div > span
{
    width: 12%;
    min-width: 100px;
    display: inline-table;
    text-align: left;
    color: var(--listFontColor);
}

.confirmDiv
{
    margin-top: 5px;
	 padding: 0px 0px 0px env(safe-area-inset-left);
}

.configDescriptionCaption
{
    padding: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.configDescription
{
    padding: 15px;
}

.phSetup
{
    background: linear-gradient(to bottom right, var(--light3), var(--light1)); /* Standard syntax (must be last) */
    margin-top: 8px;
    padding: 5px;
}

.phSetup > div > span
{
    width: 15%;
    min-width: 200px;
    display: inline-table;
    text-align: left;
    height: 24px;
}

.phSetup > div > span:nth-child(n+2)
{
    width: 3%;
    min-width: 45px;
    display: inline-table;
    text-align: left;
    height: 24px;
}

/*.content {
    display: flex;
}*/

.controlContainer
{
    padding: var(--containerPadding);
	 margin: 0px 0px 0px env(safe-area-inset-left);
	 background-color: var(--menu);
    font-size: 10px;
    color: var(--light2);
    /*margin: 0px 4px 0px 0px;*/
    min-width: 180px;
    overflow-y: auto;
}

.container
{
    overflow-y: auto;
    width: -webkit-fill-available;
    width: -moz-available;
    padding: 0px 0px 0px env(safe-area-inset-left);
}

.listContainer
{
    font-size: 18px;
    padding: var(--containerPadding);
}

.listContainer > div > div > img
{
    margin-top: 2%;
    display: table-cell;
    max-height: 80%;
}

.listFirstCol
{
    width: 20%;
    min-width: 145px;
    display: inline-block;
    text-align: left;
    overflow: hidden;
    line-height: 45px;
    color: var(--listFontColor);
}

.listSecondCol
{
    display: inline-flex;
    text-align: left;
    overflow: hidden;
    align-items: center;
    color: var(--listFontColor);
}

.listRow {
    background-color: var(--widgetBackground);
    border-radius: var(--borderRadius);
    border-color: var(--borderColor);
    border-style: solid;
    border-width: 1px;
    margin: 2px;
    height: 45px;
    display: flex;
    padding: 0px 0px 0px 10px;
}

/* used for p4d */
.tableRow
{
    background: linear-gradient(to bottom right, var(--light3), var(--light1));
    border-radius: var(--borderRadius);
    margin: 2px;
    height: 30px;
    display: flex;
    padding: 5px;
}

.tableRow > input
{
    margin-left: 15px;
    align-self: center;
}

.tableRow > button
{
    margin-left: 15px;
    align-self: center;
    height: 25px;
}

.tableRow > input[type='search']
{
}

.tableRow > div
{
    margin-left: 15px;
    align-self: center;
}

div.redCircle
{
    width: 20px;
    height: 15px;
    border-radius: 8px;
    margin-left: 4px;
    background-color: red;
}

div.greenCircle
{
    width: 15px;
    height: 15px;
    border-radius: 8px;
    margin-left: 4px;
    background-color: green;
}

.socketState
{
    min-width: 15px !important;
    height: 15px !important;
    align-self: center;
}

.greenCircle
{
    width: 12px;
    height: 12px;
    border-radius: 8px;
    margin-left: 4px;
    background-color: #4D9143;
}

.redCircle
{
    width: 12px;
    height: 12px;
    border-radius: 8px;
    margin-left: 4px;
    background-color: #c11010;
}

.grayCircle
{
    width: 12px;
    height: 12px;
    border-radius: 8px;
    margin-left: 4px;
    background-color: var(--neutral2);
}

.yellowCircle
{
    width: 12px;
    height: 12px;
    border-radius: 8px;
    margin-left: 4px;
    background-color: var(--yellow);
}

.tableMultiCol
{
    /*width: 100%;*/
    border-collapse: collapse;
    color: var(--buttonFont);
    margin-top: 5px;
    white-space-collapse: preserve-breaks;
    table-layout: fixed;
    background: linear-gradient(to bottom right, #00000096, black);
}

table.tableMultiCol thead
{
    font-weight: bold;
}

.tableMultiColCell
{
    padding-right: 12px;
}

table.tableMultiCol tr
{
    height: 48px;
    border-width: 1px;
    border-color: var(--neutral3);
    border-bottom-style: solid;
}

table.tableMultiCol td
{
    word-wrap: break-word;
}

.stateInfo
{
    padding: var(--containerPadding);
    padding-bottom: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imageState
{
    background-color: slategray;
    padding: 7px;
    margin: 2px;
}

.heatingState
{
    background-color: slategray;
    width: 35%;
    min-width: 145px;
    padding: 7px;
    margin: 2px;
}

.heatingState > div > div
{
    display: grid;
}

.heatingState > div > div > span
{
    width: 10%;
    min-width: 215px;
    display: table-flex;
    text-align: left;
}

.daemonState
{
    background-color: slategray;
    float: right;
    width: 35%;
    min-width: 280px;
    padding: 7px;
    margin: 2px;
}

.daemonState > div > div > span
{
    width: 10%;
    min-width: 150px;
    display: table-cell;
    text-align: left;
}

#aStateOk
{
    color: #091784;
    font-size: 24px;
}

#aStateFail
{
    color: red;
    text-decoration: blink;
    font-size: 24px;
}

#aStateHeating
{
    color: red;
    font-size: 24px;
}

#aStateOther
{
    color: #091784;
    font-size: 24px;
}

/* ----------------------- */
/* VDR FB */

.vdrContent
{
    margin: 0px 5px 0px 5px;
    /*background-color: var(--background); */
}

.vdrPresent
{
    padding: var(--containerPadding);
    background-color: var(--background);
}

.vdrFbContainer
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px;
/*    width: 90%;
    max-width: 450px;*/
}

.vdrFbContainer > div
{
    display: block;
    overflow: hidden;
    width: 31%;
    height: 80vh;
    margin: 2px;
}

@media only screen and (orientation:portrait)
{
    .vdrFbContainer > div { width: 99%; height: 25vh; }
}

.vdrFbContainer > div > div
{
    display: flex;
    height: 32%;
}

.vdrFbContainer > div > div > div
{
    display: block;
    margin: 2px;
    width: 32% !important;
/*    aspect-ratio : 1 / 1;*/
}

@media only screen and (orientation:landscape)
{
    .vdrFbContainer > div > div > div { width: 32%; }
    .vdrButtonColorDiv { width: 23% !important; }
}

@media only screen and (orientation:portrait)
{
/*    .vdrFbContainer > div > div > div { height: 32% !important; }*/
    .vdrButtonColorDiv { width: 10% !important; }
}

.vdrButton
{
    border-radius: 15px;
    border-color: var(--borderColor);
    background-color: var(--background);
    color: var(--light4);
    text-decoration: none;
    font-size: 5.0vh;
    height: 100%;
    width: 100%;
    padding: 0px;
}

.vdrButton:active {
    background-color: var(--neutral2);
    transform: translateY(2px);
}

.vdrButton:hover
{
/*    background-color: var(--neutral2); */
}

.vdrButtonRound
{
    border-radius: 100px;
}

.vdrArrowButton
{
    color: lightblue;
}

.vdrArrowButtonUp
{
    border-radius: 100px 100px 15px 15px;
}

.vdrArrowButtonDown
{
    border-radius: 15px 15px 100px 100px;
}

.vdrArrowButtonLeft
{
    border-radius: 100px 15px 15px 100px;
}

.vdrArrowButtonRight
{
    border-radius: 15px 100px 100px 15px;
}

.vdrColorButtonRed
{
    background-color: red;
}

.vdrColorButtonGreen
{
    background-color: green;
}

.vdrColorButtonYellow
{
    background-color: darkgoldenrod;
}

.vdrColorButtonBlue
{
    background-color: darkblue;
}

/* ----------------------- */
/* Chart */

.chartCanvas
{
    background-color: var(--background);
}

.chartContainer
{
    margin: 8px;
    height: 75%;
    min-height: 400px;
}

.chartDialogCanvas
{
    background-color: black;
}

.chartTitle
{
    text-align: center;
    font-size: x-large;
    padding: 4px;
    margin: 5px;
    background-color: slategray;
}

.chartButtons
{
    display: flow;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: var(--background);
    margin: 0px 8px 0px 8px;
    text-align: center;
}

.chartButton
{
    display: inline;
    width: 80px;
    padding: 2px;
    margin: 2px;
    color: var(--buttonFont);
    font-size: large;
    background-color: slategray;
}

.chartButton:hover
{
    background-color: darkslategray;
}

.chartBookmarks
{
    display: flex;
    padding: 5px;
}

.chartBookmarkButton
{
    display: inline;
    min-width: 76px;
    padding: 2px;
    margin: 2px;
    color: var(--buttonFont);
    height: 28px;
    background-color: slategray;
}

.chartBookmarkButton:hover
{
    background-color: darkslategray;
}

.chartSelectors
{
    display: flex;
    flex-wrap: wrap;
    padding: 6px;
    background-color: var(--background);
    margin: 8px;
}

.chartSel
{
    display: inline;
    width: 300px;
    padding: 0px;
}

/* ----------------------- */
/* config page */

.setupTabs
{
    display: inline-flex;
    width: inherit;
    background-color: var(--menu);
    margin-left: 4px;
    margin-right: 4px;
}

.setupTabs > span:nth-child(1)
{
    align-content: center;
    margin-left: 10px;
}

.setupTabs > span:nth-child(2)
{
    display: flex;
    align-content: center;
    margin-right: 10px;
}

.setupTabs > span:nth-child(2) > button
{
    cursor: pointer;
    background-color: transparent;
    font-size: 0.9em;
    color: var(--fontColor);
    fill: var(--fontColor);
    opacity: 0.6;
    display: inline-block;
    padding: 4px 12px;
    margin-top: 5px;
    text-decoration: none;
    transition: 0.5s;
    border: none;
}

.setupTabs > span:nth-child(2) > button:hover
{
    opacity: 0.9;
}

.setupTabs > span:nth-child(2) > button.active
{
    opacity: 1.0;
    font-weight: bold;
}

.setupContainer
{
    background: linear-gradient(to bottom right, #00000096, black);
    padding: var(--containerPadding);
    /*width: fit-content;*/
    /*width: -webkit-fill-available;
    width: -moz-available;*/
}

.setupMenu
{
    margin-top: 4px;
/*    display: inline-flex;
    overflow-x: auto;
	 width: 94%; */
}

.setupMenu > button
{
	 text-wrap: nowrap;
    margin: 1px;
}

.inputTableConfig
{
    background: linear-gradient(to bottom right, #00000096, black);
    padding: var(--containerPadding);
    display: table;
    /*width: 92%;*/
    margin: 2%;
}

.inputTableConfig > div
{
    display: inline-grid;
    width: 48%;
    padding: var(--containerPadding);
}

.inputTableConfig > div > span
{
    min-width: 100px;
    text-align: left;
    align-self: center;
    /*color: var(--listFontColor);*/
}

.inputTableConfig > div > span:nth-child(1)
{
    align-self: center;

}

.inputTableConfig > div > span > span > span
{
    align-self: center;
    margin-left: 10px;
    margin-right: 10px;
}

.inputTableConfig > div > span:nth-child(3n)
{
    margin-left: 10px;
    width: 45%;
    min-width: 100px;
    text-align: left;
    color: var(--listFontColor);
}

.inputTableConfig > div > span > input
{
    width: 100%;
}

.inputTableConfig > div > span > textarea
{
    width: 100%;
    min-height: 60px;
    resize: vertical;
}

.inputTableConfig > div > span > select
{
    width: 100%;
}

/* ----------------------- */
/* Schema Settings Dialog */

.schemaSettingsForm
{
    display: grid;
    max-width_ 650px;
    min-width: 750;
}

.schemaSettingsForm > div
{
    display: flex;
    margin: 4px;
    text-align: left;
}

.schemaSettingsForm > div > span:nth-child(2)
{
    width: -webkit-fill-available;
    width: -moz-available;
}

.schemaSettingsForm > div > span:nth-child(1)
{
    min-width: 120px;
    align-self: center;
}

.schemaSettingsForm > div > span > input
{
    width: auto;
}

.schemaSettingsForm > div > span > textarea
{
    width: inherit;
    height: 22px;
    resize: vertical;
    font-family: monospace;
}

.schemaSettingsForm > div > span > span > input[type='radio']
{
    margin-right: 20px;
    margin-left:7px;
    width:auto;
}

/* ----------------------- */
/* Settings Dialog */

.settingsDialogContent
{
    z-index: 9999;
    min-width: 20vw;
}

.settingsDialogContent > div
{
    display: flex;
}

.settingsDialogContent > div > span:nth-child(1)
{
    width: 40%;
    text-align: end;
    margin-right: 10px;
    align-self: center;
}

.settingsDialogContent > div > label:nth-child(1)
{
    width: 30%;
    text-align: end;
    margin-right: 10px;
    align-self: center;
}

.settingsDialogContent > div > span:nth-child(1) > a
{
    color: blue;
}

.settingsDialogContent > div > span:nth-child(2)
{
    width: -webkit-fill-available;
    width: -moz-available;
    text-align: left;
}

/* ----------------------- */
/* Heating Menu */

.menuButtonContainer
{
    display: list-item;
    flex-wrap: wrap;
    justify-content: center;
}

.menuButtonContainer > div
{
    justify-content: center;
    overflow: hidden;
    margin: 2px;
}

.menuButton
{
    display: grid;
    align-items: center;
    text-align: center;
    grid-gap: 1px;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--light1);
    color: var(--buttonFont);
    min-height: 60px;
    padding: 10px;
}

.menuButtonHead
{
    display: grid;
    align-items: center;
    text-align: center;
    grid-gap: 1px;
    font-size: 1.5em;
    font-weight: bold;
    background-color: var(--light1);
    color: var(--buttonFont);
    min-height: 40px;
    padding: 1px;
}

.menuButtonValue
{
    display: grid;
    align-items: center;
    text-align: center;
    grid-gap: 1px;
    font-size: 1.4em;
    font-weight: normal;
    background-color: var(--light1);
    color: var(--buttonFont);
    min-height: 50px;
    padding: 1px;
}

.menuButtonValueEditable
{
    cursor: pointer;
    color: #3498db;
}

.menuButtonCaption
{
    display: grid;
    align-items: center;
    text-align: center;
    grid-gap: 1px;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    min-height: 60px;
    padding: 10px;
    background-color: var(--light3);
}

.weatherForecast
{
    position: absolute;
    top: 15%;
    left: 20%;
    height: 80%;
    width: 55%;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: black;
    color: var(--fontColor);
    outline: none;
}

.weatherForecast > div
{
    height: 15px;
    width: 95%;
    display: flex;
    align-items: center;
    padding: 8px;
    margin: 8px;
}

.weatherForecast > div > span:nth-child(n+3)
{
    margin-right: 15px;
}

/* ----------------------- */
/* Dashboard Widgets */

.widgetContainer
{
    justify-content: center;
    color: var(--fontColor);
}

.widgetContainer > div
{
    justify-content: center;
    overflow: hidden;
    margin: 2px;
    background-color: var(--widgetBackground);
    padding: 1px;
}

.widget
{
    display: grid;
    grid-template-areas:
      'title'
      'main';
    grid-template-rows: 15% 85%;
    grid-gap: 1px;
    box-shadow: 1px 1px 1px 0px var(--shadow);
}

.widgetSpacer
{
    box-shadow: 0px 0px 0px 0px var(--shadow);
}

.widgetSymbolValue
{
    display: grid;
    grid-template-areas:
      'title'
      'main'
      'value';
    grid-template-rows: 15% 65% 20%;
    grid-gap: 1px;
    box-shadow: 1px 1px 1px 0px var(--shadow);
}

.widgetValue
{
    display: grid;
    grid-template-areas:
      'title'
      'peak'
      'main';
    grid-template-rows: 15% 12% 73%;
    grid-gap: 1px;
    box-shadow: 1px 1px 1px 0px var(--shadow);
}

.widgetDropZone
{
}

.widgetDropZone[drop-active=true]
{
    border-color: orange;
    border-style: solid;
    border-width: 1px;
}

.widgetPlain
{
    text-align: center;
    box-shadow: 1px 1px 1px 0px var(--shadow);
}

.widget-weather
{
    text-align: left;
    font-size: x-large;
    font-weight: normal;
    margin-top: 20px;
    display: inline-block;
}

.widgetManuel
{
    background-color: #a27373 !important;
}

.widgetGauge
{
    display: grid;
    grid-template-areas:
      'title'
      'main';
    grid-template-rows: 15% 85%;
    grid-gap: 1px;
    box-shadow: 1px 1px 1px 0px var(--shadow);
}

.widgetCtrl
{
    display: grid;
    grid-template-areas:
      'title title'
      'main main'
      'ctrl1 ctrl2';
    grid-template-rows: 15% 73% 12%;
    grid-gap: 1px;
    box-shadow: 1px 1px 1px 0px var(--shadow);
}

.widgetChart
{
    display: grid;
    grid-template-areas:
      'title title'
      'peak value'
      'chart chart';
    grid-template-rows: 15% 12% 73%;
    grid-template-columns: 50% 50%;
    grid-gap: 1px;
    box-shadow: 1px 1px 1px 0px var(--shadow);
}

.symbol-value
{
    grid-area: value;
    font-size: 1.5em;
    font-weight: bold;
    align-self: center;
    justify-self: center;
}

.chart-value
{
    grid-area: value;
    font-size: 1.5em;
    font-weight: bold;
    text-align: end;
    overflow: hidden;
    background-color: transparent;
    margin-right: 4px;
    align-self: center;
    color: var(--buttonFont);
}

.chart-peak
{
    grid-area: peak;
    font-size: 0.9em;
    padding-left: 12px;
    overflow: hidden;
    background-color: transparent;
    margin-top: 2px;
    align-self: center;
    color: var(--peakColor);
}

.chart-canvas-container
{
    grid-area: chart;
}

.chart-canvas
{
}

.widget-title
{
    grid-area: title;
    display: block;
    font-size: 1.2em;
    background-color: transparent;
    cursor: pointer;
    border: none;
    color: var(--fontColor);
    justify-self: center;
    text-align: center;
    align-self: center;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 4px;
    margin: 0px;
    user-select: none;
}

.widget-edit
{
    color: orange;
}

.widget-edit:hover
{
    font-weight: bold;
}

.widget-mode
{
    font-size: 0.6em;
}

.widget-main
{
    grid-area: main;
    background-color: transparent;
    border: none;
    width: inherit;
    outline: none;
    cursor: pointer;
    text-align: center;
    color: var(--fontColor);
    padding: 0px;
    font-size: 12vh;
}

.widget-main > img
{
    max-height: 100%;
}

.widget-main-gauge
{
    grid-area: main;
    width: inherit;
    align-self: center;
}

.widgetMeter
{
    display: grid;
    grid-template-areas:
        'title'
        'main';
    grid-template-rows: 15% 85%;
    grid-gap: 1px;
    box-shadow: 1px 1px 1px 0px var(--shadow);
}

.widgetMeterLinear
{
    display: grid;
    grid-template-areas:
        'title title'
        'main peak'
        'main value';
    grid-template-rows: 15% 12% 73%;
    grid-template-columns: 58% 42%;
    grid-gap: 1px;
    box-shadow: 1px 1px 1px 0px var(--shadow);
}

.widget-main-meter
{
    grid-area: main;
    text-align: center;
    margin-top: 5px;
}

.widget-main-value-lin
{
    grid-area: value;
    font-size: 1.5em;
    font-weight: bold;
    align-self: center;
}

.widget-main-peak-lin
{
    grid-area: peak;
    font-size: 0.9em;
    padding-left: 2px;
    overflow: hidden;
    background-color: transparent;
    margin-top: 5px;
    color: var(--peakColor);
    text-align: right;
    margin-right: 5px;
}

.widget-value
{
    grid-area: main;
    display: inline-grid;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    align-items: center;
    word-break: break-word;
    color: var(--light4);
}

.widget-choice
{
    grid-area: main;
    display: inline-grid;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    align-items: center;
    align-self: center;
    height: fit-content;
    word-break: break-word;
    color: var(--light4);
    user-select: none;
    cursor: pointer;
}

.widget-choice > div:hover
{
    opacity: 0.8;
    background-color: #335656a1;
}

.widget-text
{
    grid-area: main;
    display: inline-grid;
    width: -webkit-fill-available;
    width: -moz-available;
    text-align: left;
    align-content: center;
    padding: 5px;
    color: var(--light4);
}

.widget-text > table
{
    /*font-size: x-large;*/
    font-size: calc(2vh);
    white-space: nowrap
}

.widget-time
{
    grid-area: main;
    display: inline-grid;
    grid-template-areas:
      'main'
      'value';
    grid-template-rows: 40% 60%;
    height: 100%;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    align-items: center;
    word-break: break-word;
    color: var(--light4);
}

.widget-time > div:nth-child(1)
{
    grid-area: main;
}

.widget-time > div:nth-child(2)
{
    grid-area: value;
}

.widget-ctrl1 { grid-area: ctrl1; }
.widget-ctrl2 { grid-area: ctrl2; }

.widgetCtrl > div > button > img
{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.widgetCtrl > div > button
{
    height: 100%;
    background-color: Transparent;
    border: none;
    overflow: hidden;
    outline: none;
    cursor: pointer;
}

.widget > button > img
{
    max-width: 100%;
    /*
    auskommentiert wegen verschobener Darstellung (auffällig z.B. bei heightfactor 0,75)
    max-height: 90%;
    justify-self: center;
    vertical-align: middle;*/
}

.widgetGauge > button > img
{
    max-width: 100%;
    max-height: 100%;
    background-color: var(--light1);
    justify-self: center;
}

.scale-text
{
    text-align: center;
    font-size: 3.0em;
    fill: white;
}

.gauge-value
{
    text-align: center;
    fill: white;
}

.widgetGauge path
{
    stroke-width: 55;
    stroke: #ecf0f1;
    fill: none;
}

.widgetGauge.participation path.data-peak
{
    color: var(--peakColor);
}

.widgetGauge.participation path.data-arc
{
    stroke: #3498db;
}

/* -------------- */
/* LMC */

.lmcButton
{
    margin: 1px;
    color: var(--fontColor);
    padding: 0px;
    background-color: transparent;
    cursor: pointer;
    font-size: 3em;
}

.lmcButton:hover
{
    opacity: 0.6;
}

.lmcWidget
{
    /* overflow: hidden; */
    margin: 2px;
    background-color: var(--widgetBackground);
    padding: 4px;
    /*box-shadow: 1px 1px 1px 0px var(--shadow);*/
}

.lmcContainer
{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.lmcLeftColumn
{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.lmcRightColumn
{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.lmcControl
{
    display: flex;
    flex-wrap: wrap;
    margin: 2px;
    background-color: var(--widgetBackground);
    box-shadow: 1px 1px 1px 0px var(--shadow);
}

.lmcControl > div > span
{
    align-self: center;
    margin: 2px;
    font-size: large;
}

.lmcCurrentTrack
{
    font-size: x-large;
    margin: 2px;
    background-color: var(--widgetBackground);
    padding: 4px;
    box-shadow: 1px 1px 1px 0px var(--shadow);
}

.lmcCurrentTrack > div
{
}

.lmcCurrentTrack > div:nth-child(n+2)
{
    white-space: nowrap;
}

.lmcCurrentTitle
{
    font-size: xxx-large;
    font-weight: bold;
    color: var(--yellow2);
    line-height: 1em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.lmcCurrentArtist
{
    font-size: xx-large;
    color: var(--yellow2);
}

.lmcPlaylist
{
    white-space: nowrap;
    overflow: auto;
    flex-grow: 1;
    margin: 2px;
}

.lmcPlaylist > div
{
    display: flex;
    background-color: var(--widgetBackground);
    margin: 2px;
    padding: 2px;
    height: 60px;
    align-items: center;
}

.lmcPlaylist > div > span:nth-child(1)
{
    width: 55px;
    text-align: center;
}

.lmcPlaylist > div > span:nth-child(2)
{
    width: 100%;
    margin-left: 10px;
    overflow: hidden;
}

.lmcPlaylist > div > span:nth-child(3)
{
    font-size: xxx-large;
    color: var(--yellow2);
}

.lmcPlaylist > div > span > img
{
    height: 55px;
    width: auto;
}

.lmcPlaylist > div > span > div:nth-child(1)
{
    font-size: large;
}

.lmcMenu
{
    white-space: nowrap;
    overflow: auto;
    flex-grow: 1;
    margin: 2px;
}

.lmcMenu > div
{
    height: 20px;
    margin: 2px;
    padding: 12px;
    background-color: var(--widgetBackground);
    align-items: center;
    display: flex;
}

.lmcMenu > div > span
{
    height: 100%;
}

.lmcMenu > div > span > img
{
    height: 100%;
}

.lmcCover
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    overflow: hidden;
}

.lmcCover > img
{
    height: 100%;
    width: 100%;
    object-fit: fill;
    border-radius: max(6px, min(14px, 7%)) !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 25px;
}

.lmcTrackProgress
{
  background-color: var(--light3);
  border-radius: 10px;
  margin-top: 8px;
}

.lmcTrackProgressBar
{
  width: 0%;
  height: 10px;
  background-color: var(--yellow2);
  border-radius: 10px;
}

.lmcContextMenu > button
{
    width: -webkit-fill-available;
    width: -moz-available;
    margin: 4px;
}

/* -------------- */
/* chart dialog box */

dialog
{
    display: none;
    position: absolute;
    top: 10%;
    left: 5%;
    width: 80%;
    background: white;
    border: 1px solid grey;
    border-radius: 0 .5em .5em;
    z-index: 1002;
    padding: .5em 1em;
    height: 80%;
}

dialog[open="open"]
{
    display: block;
}

dialog::backdrop, #backdrop
{
    /* Ebene zwischen Hintergrund und Dialog-Box, Pseudoelement noch nicht implementiert */

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

/* -------------- */
/* Media specials */

@media only screen and (max-width: 320px)
{
/*    .widgetContainer > div     { width: 150px; padding: 0px; margin: 1px; } */
    .widget-weather            { font-size: large; margin-top: 0px;  }
    .widget-weather > br       { display: none; }
    .widget-main               { font-size: 13vh;}
    .weatherForecast           { left: 2%; width: 95%; }
}

@media only screen and (max-width:395px)
{
    .daemonState               { width: 88%; }
    .menu                      { padding: 0px; margin: 0px; }
    .button1                   { margin-right: 1px; }
    .tabButton                 { padding: 6px 6px 0px 6px; }
/*    .inputTableConfig > div:nth-child(odd) { background-color: #0000007d; } */
    .inputTableConfig > div > span:nth-child(3) { width: 25%; }
    .inputTableConfig > div > span              { width: 30%; }
    .buttonDashboard           { margin: 1px 0px 1px 0px; }
    .menuDashboard             { margin: 1px; }
/*    .widgetContainer > div     { width: 175px; height: 160px; margin: 1px; } */
    .widgetGauge               { grid-template-rows: 30% 70%; }
    .widget                    { grid-template-rows: 15% 85%; }
    .widgetChart               { grid-template-rows: 15% 18% 67%; }
    .widget-title              { font-size: 1.0em; }
    .widget-value              { font-size: 1.0em; }
    .widget-text               { font-size: large; }
    .widget-weather            { font-size: x-large; margin-top: 0px;  }
    .widget-weather > br       { display: none; }
    .widget-main               { font-size: 13vh;}
    .weatherForecast           { left: 2%; width: 95%; }
}

@media only screen and (max-width:500px)
{
    .buttonOptions.table       { min-width: unset; }
}

@media only screen and (min-width:396px) and (max-width:1080px)
{
    .daemonState               { width: 88%; }
    .menu                      { padding: 0px; margin: 0px; }
    .button1                   { margin-right: 1px; }
    .tabButton                 { padding: 6px 6px 0px 6px; }
/*    .inputTableConfig > div:nth-child(odd) { background-color: #0000007d; }*/
    .inputTableConfig > div > span:nth-child(3) { width: 25%; }
    .inputTableConfig > div > span              { width: 90%; }
    .buttonDashboard           { padding: 4px; margin: 1px 0px 1px 0px; }
    .menuDashboard             { margin: 1px; }
    /*    .widgetContainer > div     { width: 180px; height: 160px; margin: 2px; } */
    .widgetGauge               { grid-template-rows: 30% 70%; }
    .widget                    { grid-template-rows: 15% 85%; }
    .widgetChart               { grid-template-rows: 15% 18% 67%; }
    .widgetMeterLinear         { grid-template-rows: 15% 25% 60%; }
    .widgetMeter               { grid-template-rows: 15% 85%; }

    .widget-title              { padding: 3px; padding-top: 4px; font-size: 1.0em; }
    .widget-main-peak-lin      { font-size: 0.7em; }
    .widget-value              { font-size: x-large; }
    .widget-text               { font-size: large; }
    .widget-weather            { font-size: larger; margin-top: 0px;  }
    .widget-weather > br       { display: none; }
    .widget-main               { font-size: 11vh;}
    .weatherForecast           { left: 2%; width: 95%; }
    .inputTableConfig > div    { width: inherit; }
}

@media only screen and (min-width:321px) and (max-width: 375px)
{
/*    .widgetContainer > div     { width: 168px; padding: 0px; margin: 1px; }*/
    .widget-weather            { font-size: large; margin-top: 0px;  }
    .widget-weather > br       { display: none; }
    .widget-main               { font-size: 13vh;}
    .weatherForecast           { left: 2%; width: 95%; }
}

@media only screen and (min-height:480px) and (max-height:500px)
{
    .content                   { margin: 0px; }
/*    .widgetContainer > div     { width: 120px; height: 95px; margin: 1px; } */
    .widget                    { grid-template-rows: 15% 85%; }
    .widgetChart               { grid-template-rows: 15% 14% 71%; }
    .buttonDashboard           { padding: 4px; margin: 0px 0px 0px 0px; }
    .chart-peak                { font-size: 0.7em; margin-top: 4px; }
    .widget-value              { font-size: 1.2em; }
    .widget-time               { font-size: 1.3em; }
    .chart-value               { font-size: 1.0em; }
    .widget-main               { font-size: 15vh;}
    .widget-main-value-lin     { font-size: 0.9em;  }
    .widget-main-peak-lin      { margin-right: 0px; }
    .widget-weather            { font-size: 1.2em; margin-top: 0px;  }
    .widget-weather > br       { display: block; }
    .symbol-value              { font-size: large;}
    .weatherForecast           { left: 5%; width: 90%; }
}
