
.menu
{
    display: grid;
    margin-left: 5px;
    margin-right: 5px;
    /*white-space: nowrap;*/
    background-color: var(--menu);
}

.menuLogin
{
    float: right;
}

.content
{
/*    position: relative;*/
    margin: 0px 5px 0px 5px;
}

.rounded-border
{
    border-radius: var(--borderRadius);
    border-color: var(--borderColor);
    border-style: solid;
    border-width: 1px;
}

.button1
{
    background-color: var(--caption1);
    color: var(--buttonFont);
    margin: 5px 1px 5px 1px;
    display: inline-block;
    padding: 6px 6px;
    text-decoration: none;
}

.button1:hover
{
    background-color: var(--caption2);
}

.button2
{
    background-color: var(--caption2);
    color: var(--buttonFont);
    padding: 3px 10px;
    text-decoration: none;
}

.button2:hover
{
    background-color: var(--caption1);
}

.buttonLogin
{
    background-color: darkblue;
    color: var(--buttonFont);

    width: 300px;
    height: 40px;
    margin: 20px;
}

.seperatorTitle1
{
    background-color: var(--caption1);
    color: var(--light2);
    margin-top: 0px;
    padding: 5px 15px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

.input
{
    background-color: var(--edit);
    margin-top: 2px;
    color: black;
    padding: 3px;
}

.inputTime
{
    background-color: var(--edit);
    margin-top: 2px;
    color: black;
    padding: 3px;
    width: 45px;
}

.inputNum
{
    background-color: var(--edit);
    margin-top: 2px;
    color: black;
    padding: 3px;
    width: 45px;
    height: 21px;
}

.inputFloat
{
    background-color: var(--edit);
    margin-top: 2px;
    color: black;
    padding: 3px;
    width: 65px;
    height: 21px;
}

.inputSetting
{
    width: 100%;
    background-color: var(--edit);
    margin-top: 2px;
    color: black;
    padding: 4px;
    margin: 1px;
}

span > input
{
    display: inline-block;
    width: 98%;
}

.inputComment
{
    font-size: 13px;
}

.info
{
    background-color: green;
    color: white;
    text-decoration: none;
    font-size: 22px;
    width: 95%;
    padding: 15px;
    border-radius: 5px;
}

.help
{
    cursor: pointer;
    margin-left: 50px;
}

.infoWarn
{
    background-color: orange;
    color: white;
    text-decoration: none;
    font-size: 22px;
    width: 95%;
    padding: 15px;
    border-radius: 5px;
}

.infoError
{
    background-color: red;
    color: white;
    text-decoration: none;
    font-size: 22px;
    width: 95%;
    padding: 15px;
    border-radius: 5px;
}

.log
{
    background-color: var(--light1);
    text-decoration: none;
    font-size: 16px;
    width: 95%;
    padding: 5px;
    border-radius: 5px;
}

.confirmDiv
{
    margin-top: 5px;
}

.inputTableConfig
{
    background-color: var(--light1);
    background: linear-gradient(to bottom right, var(--light3), var(--light1)); /* Standard syntax (must be last) */
    margin-top: 2px;
    padding: 5px;
}

.inputTableConfig > div > span
{
    width: 20%;
    min-width: 100px;
    display: inline-table;
    text-align: left;
}

.inputTableConfig > div > span:nth-child(3n)
{
    width: 50%;
    min-width: 100px;
    display: inline-table;
    text-align: left;
}

.listContainer
{
    font-size: 18px;
}

.listContainer > div > div > img
{
    margin-top: 2%;
    display: table-cell;
    max-height: 80%;
}

.listFirstCol
{
    width: 12%;
    min-width: 145px;
    display: inline-block;
    text-align: left;
    line-height: 45px;
    overflow: hidden;
}

.listSecondCol
{
    display: inline-block;
    text-align: left;
    line-height: 45px;
}

.listRow {
    background: linear-gradient(to bottom right, var(--light3), var(--light1)); /* Standard syntax (must be last) */
    border-radius: var(--borderRadius);
    border-color: var(--borderColor);
    border-style: solid;
    border-width: 1px;
    margin: 2px;
    height: 45px;
    display: flex;
    padding: 0px 0px 0px 10px;
}

.tableMultiCol
{
    width: 100%;
    background-color: var(--light1);
    color: var(--buttonFont);
    margin-top: 5px;
    padding: 0;
    font-size: 17px;
}

.tableMultiCol > div
{
    background-color: var(--light3);
    background: linear-gradient(to bottom right, var(--light3), var(--light1)); /* Standard syntax (must be last) */
}

.tableMultiColCell
{
    padding-right: 12px;
}

table.tableMultiCol tr:nth-child(even)
{
    background-color: var(--light3);
    background: linear-gradient(to bottom, var(--light1), var(--light3)); /* Standard syntax (must be last) */
}

table.tableMultiCol tr:nth-child(odd)
{
    background-color: var(--light1);
    background: linear-gradient(to bottom right, var(--light1), var(--light3)); /* Standard syntax (must be last) */
}

.tableMultiCol > div > span
{
    padding: 5px 10px 5px 10px;
    display: inline-block;
    text-align: left;
}

.stateInfo
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.daemonInfo
{
    /*background-color: var(--light1);*/
    background-color: slategray;
    float: right;
    width: 42%;
    padding: 15px;
    margin: 3px;
}

.daemonInfo > div > span
{
    width: 10%;
    min-width: 215px;
    display: table-cell;
    text-align: left;
}

#aStateOk
{
    color: green;
    font-size: 24px;
}

#aStateFail
{
    color: red;
    text-decoration: blink;
    font-size: 24px;
}

/* ----------------------- */
/* VDR FB */

.vdrFbContainer
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px;
    width: 90%;
    max-width: 450px;
}

.vdrFbContainer > div
{
    overflow: hidden;
}

.vdrButtonDiv
{
    width: 33%;
}

.vdrButtonColorDiv
{
    width: 25%;
    height: 60px
}

.vdrButton
{
    border-radius: 15px;
    border-color: var(--borderColor);
    background-color: var(--caption1);
    color: var(--buttonFont);
    text-decoration: none;
    font-size: 5.0vh;
    height: 100%;
    width: 100%;
    padding: 0px;
}

.vdrButton:hover
{
/*    background-color: var(--caption2); */
}

.vdrButtonRound
{
    border-radius: 100px;
}

.vdrArrowButton
{
    color: lightblue;
}

.vdrArrowButtonUp
{
    border-radius: 100px 100px 15px 15px;
}

.vdrArrowButtonDown
{
    border-radius: 15px 15px 100px 100px;
}

.vdrArrowButtonLeft
{
    border-radius: 100px 15px 15px 100px;
}

.vdrArrowButtonRight
{
    border-radius: 15px 100px 100px 15px;
}

.vdrColorButtonRed
{
    margin: 5px;
    background-color: red;
}

.vdrColorButtonGreen
{
    margin: 5px;
    background-color: green;
}

.vdrColorButtonYellow
{
    margin: 5px;
    background-color: darkgoldenrod;
}

.vdrColorButtonBlue
{
    margin: 5px;
    background-color: darkblue;
}

/* ----------------------- */
/* Chart */

.chartCanvas
{
    background-color: #151515;
}

.chartTitle
{
    text-align: center;
    font-size: x-large;
    padding: 4px;
    margin: 5px;
    background-color: slategray;
}

.chartButtons
{
    display: flex;
    justify-content: center;
    margin: 15px;
}

.chartButton
{
    display: inline;
    width: 200px;
    padding: 4px;
    margin: 5px;
    color: white;
    font-size: x-large;
    background-color: slategray;
}

.chartSelectors
{
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
}

.chartSel
{
    display: inline;
    width: 200px;
    padding: 4px;
}

/* ----------------------- */
/* Dashboard Widgets */

.widgetContainer
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.widgetContainer > div
{
    justify-content: center;
    overflow: hidden;
    width: 330px;
    height: 212px;
    margin: 2px;
    background-color: var(--light1);
    padding: 1px;
}

.widget
{
  display: grid;
  grid-template-areas:
    'title'
    'main'
    'progress';
  grid-template-rows: 25% 71% 4%;
  grid-gap: 1px;
}

.widgetManuel
{
    background-color: #a27373 !important;
}

.widgetGauge
{
    display: grid;
    grid-template-areas:
      'title'
       'main';
    grid-template-rows: 15% 85%;
    grid-gap: 1px;
}

.widgetCtrl
{
    display: grid;
    grid-template-areas:
      'title title'
      'main main'
      'ctrl1 ctrl2';
    grid-template-rows: 15% 66% 16%;
    grid-gap: 1px;
}

.widgetChart
{
    display: grid;
    grid-template-areas:
      'title title'
      'peak value'
      'chart chart';
    grid-template-rows: 15% 16% 69%;
    grid-gap: 1px;
}

.chart-value
{
    grid-area: value;
    font-size: 1.5em;
    font-weight: bold;
    text-align: end;
    overflow: hidden;
    background-color: Transparent;
    margin-top: 5px;
    color: var(--buttonFont);
}

.chart-peak
{
    grid-area: peak;
    font-size: 0.9em;
    font-weight: bold;
    padding-left: 12px;
    overflow: hidden;
    background-color: Transparent;
    margin-top: 15px;
    color: red;
}

.chart-canvas-container
{
    grid-area: chart;
/*    position: relative;*/
    width: inherit;
}

.chart-canvas
{
}

.widget-title
{
    grid-area: title;
    text-align: center;
    align-self: center;
    font-size: 1.4em;
    overflow: hidden;
    background-color: Transparent;
    cursor: pointer;
    border: none;
    width: inherit;
    color: var(--buttonFont);
    text-overflow: ellipsis;
}

.widget-progress {
    grid-area: progress;
    background-color: gray;
    width: 80%;
    justify-self: center;
    border-radius: 8px;
}

.progress-bar {
    width: 0%;
    height: 100%;
    background-color: #3498db;
    border-radius: 8px;
}

.widget-mode
{
    font-size: 0.6em;
}

.widget-main
{
    grid-area: main;
    background-color: Transparent;
    border: none;
    width: inherit;
/*    overflow: hidden;*/
    outline: none;
    cursor: pointer;
}

.widget-main > img
{
    max-height: 100%;
}

.widget-value
{
    grid-area: main;
    display: inline-grid;
    text-align: center;
    font-size: 2.1em;
    font-weight: bold;
    align-items: center;
    word-break: break-word;
    color: var(--light4);
}

.widget-ctrl1 { grid-area: ctrl1; }
.widget-ctrl2 { grid-area: ctrl2; }

.widgetCtrl > div > button > img
{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.widgetCtrl > div > button
{
    height: 100%;
    background-color: Transparent;
    border: none;
    overflow: hidden;
    outline: none;
    cursor: pointer;
}

.widget-svg
{
    grid-area: main;
    width: 100%;
    align-self: center;
}

.widget > button > img
{
    max-width: 100%;
    max-height: 100%;
    justify-self: center;
}

.widgetGauge > button > img
{
    max-width: 100%;
    max-height: 100%;
    background-color: var(--light1);
    justify-self: center;
}

.scale-text
{
    text-align: center;
    font-size: 3.0em;
    fill: white;
}
.gauge-value
{
    text-align: center;
    fill: white;
}

.widgetGauge path
{
    stroke-width: 55;
    stroke: #ecf0f1;
    fill: none;
}

.widgetGauge.participation path.data-peak
{
    stroke: red;
}

.widgetGauge.participation path.data-arc
{
    stroke: #3498db;
}

/* -------------- */
/* chart dialog box */

dialog
{
    display: none;
    position: absolute;
    top: 10%;
    left: 5%;
    width: 80%;
    background: white;
    border: 1px solid grey;
    border-radius: 0 .5em .5em;
    z-index: 1002;
    padding: .5em 1em;
    height: 80%;
}

dialog[open="open"]
{
    display: block;
}

dialog::backdrop, #backdrop
{
    /* Ebene zwischen Hintergrund und Dialog-Box, Pseudoelement noch nicht implementiert */

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

/* -------------- */
/* Media specials*/

@media only screen and (min-width: 900px)
{
}

@media only screen and (min-width: 768px) and (max-width:1139px)
{
}

@media only screen and (max-width: 740px)
{
    .content                   { padding: 0px; }
    .daemonInfo                { font-size: 15px; margin-top: 3px; min-width: 91%; }
    .daemonInfo > div > span   { min-width: 110px; }

    .inputTableConfig > div > span:nth-child(3) { width: 95%; }
    .inputTableConfig > div > span              { width: 95%; }

    .widgetContainer > div     { width: 185px; height: 160px; }
    .widgetGauge               { grid-template-rows: 30% 70%; }
    .widget                    { grid-template-rows: 30% 66% 4%; }
    .widgetChart               { grid-template-rows: 30% 20% 50%; }
}

@media only screen and (max-width: 375px)
{
    .widgetContainer > div     { width: 153px; padding: 0px; margin: 0px; }
}
