
Body 
{
  background-color: #EEEEEE; 
  font: 12px Verdana;
  color: #111111;
}

A:link 
{
  color: #000000;
}

A:visited 
{
  color: #000000;
}

A:active 
{
  color: #000000;
  text-decoration : underline;
}

.button1
{
  background-color: #FF6600;
  color: #FFFFFF;
  padding: 5px 25px;
  text-decoration: none;
  font: bold 20px Verdana;
}

.button1:hover 
{
  background: #FF3300;
}

.button2
{
  background-color: #FF9900;
  padding: 5px 25px;
  color: #FFFFFF;
  text-decoration: none;
  font: bold 20px Verdana;
  border-radius: 10px;
}

.button2:hover 
{
  background: #FF3300;
  border-radius: 10px;
}

.button3 
{
  background-color: #FF9900;
  padding: 5px 25px;
  color: #FFFFFF;
  text-decoration: none;
  font: 16px Verdana;
  border-radius: 10px;
}

.button3:hover {
	background: #FF3300;
}

.buttont {
  background-color: rgba(255, 255, 255, 0);
  color: #000000;
  border: 0;
  text-decoration: none;
  font: 16px Verdana;
  border-radius: 5px;
}

.buttont:hover {
  background: #FF6600;
  color: #FFFFFF;
  border: 0;
}

.info 
{
  background-color: green;
  color: white;
  text-decoration: none;
  font: 28px Verdana;
  width: 70%;
  padding: 15px;
}

.content 
{
  padding: 20px;
  background-color: #EEEEEE; 
  font: 12px Verdana;
  color: #111111;
}

.schema 
{
  font: 22px Verdana;
  top: 50px;
  left: 5px;
}

.tableLight
{
  width: 90%;
  border: 1;
  background-color: #FFFFCC;
  color: #000000;
  font: 14px Verdana;
  padding: 20px 20px;
}

.tableDark
{
  width: 90%;
  border: 1;
  background-color: #FFFF66;
  color: #000000;
  font: 14px Verdana;
  padding: 20px 20px;
}

.tableHead 
{
  width: 90%;
  border: 1;
  background-color: #FF9900;
  color: #FFFFFF;
  font: bold 20px Verdana;
  padding: 20px;
}

.tableHead1
{
  width: 90%;
  border: 1;
  background-color: #FF9900;
  color: #FFFFFF;
  font: bold 16px Verdana;
  padding: 20px;
}

#aStateInfo
{ 
  position: absolute; 
  top: 50px; 
  left: 50px; 
  width: 500px; 
  background-color: #FFFFCC; 
  border: 1px; 
  padding: 10px; 
  font: 20px Verdana;
  border-radius: 10px; 
}

#aStateImage
{ 
  position: absolute; 
  top: 50px; 
  left: 580px; 
  width: 200px; 
  background-color: #FFFFCC; 
  border: 1px; 
  padding: 5px; 
  border-radius: 10px; 
}

#aP4dInfo
{ 
  position: absolute; 
  top: 50px; 
  left: 800px; 
  width: 300px; 
  background-color: #FFFFCC;
  border: 1px; 
  padding: 10px; 
  font: 20px Verdana;
  border-radius: 10px; 
}

#aStateOk
{ 
  font: bold 24px Verdana;
}

#aStateFail
{ 
  color: red;
  text-decoration: blink;
  font: bold 24px Verdana;
}

#aStateHeating
{ 
  color: green;
  font: bold 24px Verdana;
}

#aStateOther
{ 
  color: blue;
  font: bold 24px Verdana;
}

#aSelect 
{
  position: absolute; 
  top: 190px; 
  left: 50px; 
  width: 500px; 
  background-color: #FFFFCC;
  border: 1px; 
  solid: #804000; 
  padding: 10px; 
  font: 18px Verdana;
  border-radius: 10px; 
}

#aSelectChart 
{ 
  position: absolute;
  top: 50px;
  left: 30px;
  width: 500px;
  background-color: #FFFFCC;
  border: 1px;
  padding: 10px;
  font: 16px Verdana;
  border-radius:10px;
}

#aChart 
{ 
  position: absolute;
  top: 130px;
  left: 30px;
  background-color: #FFFFCC;
  border: 1px;
  padding: 0px;
  border-radius: 10px; 
}
