
@import url("normalize.css");
@import url("base.css");

:root
{
    /* colors */

    --menu: #455e7f;

    --light1: #0d2546;
    --light2: white;
    --light3: #396992;

    --light4: white;

    --caption1: #0d2546;
    --caption2: #113a77;
    --edit: #f9f9ef;

    --borderColor: #0d2546;
    --borderRadius: 3px;

    --borderColorSchemaValue: blue;
    --borderRadiusSchemaValue: 3px;
    --borderStyleSchemaValue: solid;

    --borderColorTableButton: blue;
    --colorTableButton: #c8e7fe;
    --borderRadiusTableButton: 2px;

    --buttonAction: #818382;
    --buttonFont: white;
    --dialogColor: #f8ffdb;
}

Body
{
    font-family: Helvetica,Arial,sans-serif;
    font-size: 1.0em;
}

.content
{
    margin: 5px;
}
