
@import url("normalize.css");
@import url("base.css");

:root
{
    /* colors */

    --light1: #fdfddf;
    --light2: #ffffc6;
    --light3: #f6f694;
    --light4: #efef65;

    --caption1: #F90;
    --caption2: #ffc766;
    --border: #f1caa4;
    --buttonAction: #818382;
    --buttonFont: black;
}

Body
{
    font-family: Helvetica,Arial,sans-serif;
    font-size: 1.0em;
}

.content
{
    margin: 5px;
}

.rounded-border
{
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--border);
}
