
@import url("normalize.css");
@import url("checkbox.css");
@import url("dialog.css");
@import url("base.css");

:root
{
    /* colors */

    --menu: #171717;

    --light1: #272727;
    --light2: lightgray;
    --light3: #403d3d;
    --light4: white;
    --listFontColor: white;
    --blue: #2177AD;
    --blueshade: #495b67;
    --info: #f9f9ef;

    --widgetBackground: #272727b8;
    --dashboardMenuBackground: #7080907a;
    --caption1: #292929;
    --caption2: #565353;
    --edit: #f9f9ef;
    --editadd: #fffcab;

    --background: #000000d1;
    --shadow: black;

    --borderColor: black;
    --borderRadius: 3px;

    --borderColorSchemaValue: white;
    --borderRadiusSchemaValue: 3px;
    --borderStyleSchemaValue: solid;

    --colorTableButton: none;
    --borderColorTableButton: white;
    --borderRadiusTableButton: 2px;

    --buttonAction: #818382;
    --buttonFont: white;

    --dialogColor: black;
    --dialogBackground: lightgray;

    --scaleText: white;
    --scale: #ccc;
}

Body
{
    font-family: Helvetica,Arial,sans-serif;
    font-size: 1.0em;
    color: white;
    background-color: black;
}

.content
{
    margin: 2px;
}
