
@import url("normalize.css");
@import url("base.css");

:root
{
    /* colors */

    --menu: black;

    --light1: gray;
    --light2: lightgray;
    --light3: #565353;
    --light4: #efef65;

    --caption1: #292929;
    --caption2: #565353;
    --edit: #f9f9ef;

    --borderColor: black;
    --borderRadius: 3px;

    --borderColorSchemaValue: white;
    --borderRadiusSchemaValue: 3px;
    --borderStyleSchemaValue: solid;

    --colorTableButton: none;
    --borderColorTableButton: white;
    --borderRadiusTableButton: 2px;

    --buttonAction: #818382;
    --buttonFont: white;
}

Body
{
    font-family: Helvetica,Arial,sans-serif;
    font-size: 1.0em;
    color: white;
    background-color: black;
}

.content
{
    margin: 5px;
}
