
Body {
  background-color : #EEEEEE; 
  color : #111111;
}

A:link {
  color : #000000;
}

A:visited {
  color : #000000;
}

A:active {
  color : #000000;
  text-decoration : underline;
}

.button1 {
  background-color: #BBBBBB;
  padding: 5px 25px;
  color: #000000;
  text-decoration: none;
  font: bold 20px Verdana;
}

.button1:hover {
	background:#AAAAAA;
}

.button2 {
  background-color: #FF6600;
  padding: 5px 25px;
  color: #FFFFFF;
  text-decoration: none;
  font: bold 20px Verdana;
}

.button2:hover {
	background:#FF3300;
}

.button3 {
  background-color: #2020FF;
  padding: 5px 25px;
  color: #FFFFFF;
  text-decoration: none;
  font: 16px Verdana;
}

.button3:hover {
	background:#2020AA;
}

.content {
	padding:20px;
}

.schema 
{
  font: 22px Verdana;
  top:50px;
  left:5px;
}

.table 
{
  width: 90%;
  border: 1;
  font: 14px Verdana;
  padding: 20px 20px;
}

.tableHead 
{
  width: 70%;
  border: 1;
  font: bold 20px Verdana;
  padding: 20px;
}

#aState  
{ 
  position:absolute; 
  top:50px; 
  left:50px; 
  width:500px; 
  background-color:#83AFFF; 
  border:1px; solid:#804000; 
  padding:10px; 
  font: 20px Verdana;
  border-radius:10px; 
}

#aSelect 
{
  position:absolute; 
  top:160px; 
  left:50px; 
  width:500px; 
  background-color:#83AFFF; 
  border:1px; 
  solid:#804000; 
  padding:10px; 
  font: 18px Verdana;
  border-radius:10px; 
}

#aSelectChart 
{ 
  position:absolute; 
  top:50px; 
  left:30px; 
  width:500px; 
  background-color:#83AFFF; 
  border:1px; 
  padding:10px; 
  font: 16px Verdana;
  border-radius:10px; 
}

#aChart 
{ 
  position:absolute; 
  top:130px; 
  left:30px; 
  background-color:#83AFFF; 
  border:1px; 
  padding: 0px; 
  border-radius:10px; 
}
