
Body 
{
  background-color: #EEEEEE; 
  font: 12px Verdana;
  color: #111111;
}

.content 
{
  padding: 20px;
  background-color: #EEEEEE; 
  font: 18px Verdana;
  color: #111111;
}

.button1
{
  background-color: #FF6600;
  color: white;
  margin: 4px;
  padding: 4px 20px;
  text-decoration: none;
  font: bold 20px Verdana;
  box-shadow: 8px 8px 8px #666;
}

.button1:hover 
{
  background: #FF3300;
}

.button2
{
  background-color: #FF9900;
  color: white;
  margin: 2px;
  padding: 5px 20px;
  text-decoration: none;
  font: bold 20px Verdana;
  border-radius: 10px;
  box-shadow: 8px 8px 8px #666;
}

.button2:hover 
{
  background: #FF3300;
  border-radius: 10px;
}

.button2sel
{
  background-color: #FF6600;
  color: white;
  margin: 2px;
  padding: 5px 25px;
  text-decoration: none;
  font: bold 20px Verdana;
  border-radius: 10px;
  box-shadow: 8px 8px 8px #666;
}

.button2sel:hover 
{
  background: #FF3300;
  border-radius: 10px;
}

.button3 
{
  background-color: #FF9900;
  color: white;
  padding: 5px 25px;
  margin: 2px;
  padding: 5px 25px;
  text-decoration: none;
  font: 16px Verdana;
  border-radius: 10px;
  box-shadow: 8px 8px 8px #666;
}

.button3:hover 
{
  background: #FF3300;
}

.button4 
{
  background-color: #DDDDDD;
  color: black;
  padding: 2px 3px;
  text-decoration: none;
  font: 10px Verdana;
  border-radius: 0px;
  box-shadow: none;
}

.button4:hover 
{
  background: #FF5555;
}

.buttont 
{
  background-color: rgba(255, 255, 255, 0);
  color: black;
  border: 0;
  text-decoration: none;
  font: 16px Verdana;
  border-radius: 5px;
}

.buttont:hover 
{
  background: #FF6600;
  color: white;
  border: 0;
}

.seperatorTitle1
{
  background-color: #CC0033;
  color: white;
  width: 1000px;
  padding: 2px 15px;
  text-decoration: none;
  font: bold 18px Verdana;
  border-radius: 10px;
  box-shadow: 8px 8px 8px #666;
}

.seperatorTitle2
{
  background-color: #FF9900;
  color: white;
  width: 1000px;
  padding: 2px 15px;
  text-decoration: none;
  font: 18px Verdana;
  border-radius: 10px;
  box-shadow: 8px 8px 8px #666;
}

.input
{
  background-color: #FFFFCC; 
  color: black;
  width: 1000px;
  padding: 15px;
  text-decoration: none;
  font: 18px Verdana;
  border-radius: 10px;
  box-shadow: 8px 8px 8px #666;
}

.inputComment
{
  text-decoration: none;
  font: 14px Verdana;
}

.inputEdit
{
  text-decoration: none;
  color: blue;
  font: 16px Verdana;
  width: 70px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 8px 8px 8px #666;
}

.inputEdit2
{
  text-decoration: none;
  color: blue;
  font: 14px Verdana;
  width: 70px;
  padding: 3px;
  border-radius: 7px;
  box-shadow: 8px 8px 8px #666;
}

.checkbox
{
  background-color: #FF9900;
  color: white;
  padding: 3px 10px;
  text-decoration: none;
  font: 16px Verdana;
  border-radius: 10px;
  box-shadow: 8px 8px 8px #666;
}

.info 
{
  background-color: green;
  color: white;
  text-decoration: none;
  font: 22px Verdana;
  width: 1000px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 8px 8px 8px #666;
}

.help 
{
  color: yellow;
  cursor: pointer;
}

.infoWarn
{
  background-color: orange;
  color: white;
  text-decoration: none;
  font: 22px Verdana;
  width: 1000px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 8px 8px 8px #666;
}

.infoError
{
  background-color: red;
  color: white;
  text-decoration: none;
  font: 22px Verdana;
  width: 1000px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 8px 8px 8px #666;
}

.schema 
{
  font: bold 12px Verdana;
  top: 50px;
  left: 5px;
  box-shadow: 8px 8px 8px #666;
}

.values
{
  color: black;
  padding: 1px 1px;
  text-decoration: none;
  font: bold 16px Verdana;
}
  
.values a:link
{
  color: black;
  padding: 1px 1px;
  text-decoration: none;
  font: bold 16px Verdana;
}  

.values a:visited
{
  color: black;
  padding: 1px 1px;
  text-decoration: none;
  font: bold 16px Verdana;
}  

.table
{
  width: 1075px;
  border: 1;
  background-color: #FFFFCC;
  color: black;
  font: 14px Verdana;
  padding: 20px 20px;
  box-shadow: 8px 8px 8px #666;
}

.tableTitle
{
  width: 1150px;
  border: 1;
  background-color: #CC0033;
  color: white;
  font: bold 20px Verdana;
  padding: 20px;
  box-shadow: 8px 8px 8px #666;
}

.tableHead 
{
  width: 1150px;
  border: 1;
  background-color: #FF9900;
  color: white;
  font: bold 20px Verdana;
  padding: 20px;
}

.tableHead1
{
  width: 1150px;
  border: 1;
  background-color: #FF9900;
  color: white;
  font: bold 16px Verdana;
  padding: 20px;
}

.tableLight
{
  width: 1150px;
  border: 1;
  background-color: #FFFFCC;
  color: black;
  font: 18px Verdana;
  padding: 20px 20px;
}

.tableDark
{
  width: 1150px;
  border: 1;
  background-color: #FFFF66;
  color: black;
  font: 18px Verdana;
  padding: 20px 20px;
}

.schemaImage
{ 
  background-color: #FFFFCC; 
  box-shadow: 8px 8px 8px #666;
  border-radius: 10px; 
  font: 20px Verdana;
}

.cellL0
{
  background-color: #FFFFCC;
  color: black;  
}

.cellL1
{ 
  background-color: #FF6600;
  color: black;
}

.cellL2
{ 
  background-color: #FFF660;
  color: black;
}

.cellL3
{ 
  background-color: #FFAA66;
  color: black;
}

.cellL4
{ 
  background-color: white;
  color: black;
}

.stateInfo
{ 
  position: absolute; 
  top: 50px; 
  left: 30px; 
  width: 400px; 
  background-color: #FFFFCC; 
  padding: 10px; 
  font: 20px Verdana;
  border-radius: 10px; 
  box-shadow: 8px 8px 8px #666;
}

.stateImgContainer
{ 
  position: absolute; 
  top: 50px; 
  left: 460px; 
  width: 175px; 
  height: 200px; 
  background-color: #FFFFCC; 
  padding: 5px; 
  border-radius: 10px; 
  box-shadow: 8px 8px 8px #666;
}

.centerImage
{
  position: absolute;
  top: 0; 
  bottom:0; 
  left: 0; 
  right:0;
  margin: auto;
}

.P4dInfo
{ 
  position: absolute; 
  top: 50px; 
  left: 660px; 
  width: 420px; 
  height: 190px; 
  background-color: #FFFFCC;
  padding: 10px;
  font: 19px Verdana;
  border-radius: 10px; 
  box-shadow: 8px 8px 8px #666;
}

#aStateOk
{ 
  color: green;
  font: bold 24px Verdana;
}

#aStateFail
{ 
  color: red;
  text-decoration: blink;
  font: bold 24px Verdana;
}

#aStateHeating
{ 
  color: red;
  font: bold 24px Verdana;
}

#aStateOther
{ 
  color: blue;
  font: bold 24px Verdana;
}

#aSelect 
{
  position: absolute; 
  top: 195px; 
  left: 30px; 
  width: 400px; 
  background-color: #FFFFCC;
  solid: #804000; 
  padding: 10px; 
  font: 18px Verdana;
  border-radius: 10px; 
  box-shadow: 8px 8px 8px #666;
}

#aSelectChart 
{ 
  position: absolute;
  top: 50px;
  left: 30px;
  width: 400px;
  background-color: #FFFFCC;
  padding: 10px;
  font: 16px Verdana;
  border-radius:10px;
  box-shadow: 8px 8px 8px #666;
}

.chart
{ 
  background-color: #FFFFCC;
  padding: 10px;
  width: 1010px;
  border-radius: 10px; 
  box-shadow: 8px 8px 8px #666;
}
