
@import url("normalize.css");
@import url("checkbox.css");
@import url("dialog.css");
@import url("base.css");

:root
{
    --widgetWidthBase: 110;
    --widgetHeightBase: 110;

    /* colors */

    --menu: #ececb8;

    --light1: #fdfddf;
    --light2: #ffffc6;
    --light3: #cccc93;
    --light4: #818382;
    --neutral0: #333333;
    --neutral1: #454545;
    --neutral2: #545454;
    --neutral3: #696969;
    --neutral4: #a3a3a3;

    --listFontColor: #ffffc6;
    --blue: #2177AD;
    --blueshade: #495b67;
    --yellow: #fad600;
    --yellow2: #fffcab;
    --info: #f9f9ef;

    --containerPadding: 10px;
    --widgetBackground: #272727b8;
    --dashboardMenuBackground: #7080907a;
    --caption1: #F90;
    --caption2: #ffc766;
    --edit: #f9f9ef;
    --editadd: #fffcab;

    --peakColor: #ff5757;
    --background: #000000d1;
    --shadow: black;

    --borderColor: #000000d1;
    --borderRadius: 3px;

    --borderColorSchemaValue: black;
    --borderRadiusSchemaValue: 3px;
    --borderStyleSchemaValue: solid;

    --buttonAction: #818382;
    --buttonFont: black;

    --dialogColor: black;
    --dialogBackground: #818382;

    --scaleText: white;
    --scale: #ccc;
}

@media only screen and (max-width: 500px)
{
    :root { --containerPadding: 5px; }
}

@media only screen and (max-width:900px)
{
    :root { --widgetWidthBase: 90; --widgetHeightBase:80; }
}

Body
{
    font-family: Helvetica,Arial,sans-serif;
    font-size: 1.0em;
    color: black;
    background-color: #ececb8;
}

.content
{
    margin: 2px;
}
